<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDS012WARNING"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                WARNING
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_MESSAGE_P"
                    [magic]="mgc.V_MESSAGE_P"
                    mgFormat
                    required
                />
                <mgError [magic]=mgc.V_MESSAGE_P> </mgError>
            </div>
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                Click or press return key to continue!
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
            <button [magic]="mgc.btn_Close">
                {{mg.getValue(mgc.btn_Close)}}
            </button>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">

    <div class="container-fluid" [magic]="mgc.VPRDS012WARNING">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <label></label>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-xxl-12">
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label
                                                style="background-color: lightgrey;width: 100%; font-size: 1.5rem; font-weight: 600;text-align: center;">WARNING</label>
                                            <textarea [formControlName]="mgc.V_MESSAGE_P" [magic]="mgc.V_MESSAGE_P"
                                                style="background-color: #f8f8f8;" class="form-control" rows="3"
                                                mgFormat></textarea>
                                            <mgError [magic]=mgc.V_MESSAGE_P> </mgError>

                                        </div>

                                        <label
                                            style="background-color: lightgrey;width: 100%; font-size: 1.5rem; font-weight: 600;text-align: center;">Click
                                            or press return key to continue!</label>
                                    </div>


                                    <div class="col-lg-12 text-center">
                                        <div class="form-group d-flex justify-content-center">

                                            <button type="button" [magic]="mgc.btn_Close"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                                RETURN
                                            </button>


                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>