<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDS012WARNING"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                WARNING
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_MESSAGE_P"
                    [magic]="mgc.V_MESSAGE_P"
                    mgFormat
                    required
                />
                <mgError [magic]=mgc.V_MESSAGE_P> </mgError>
            </div>
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                Click or press return key to continue!
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
            <button [magic]="mgc.btn_Close">
                {{mg.getValue(mgc.btn_Close)}}
            </button>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                **UnSupported Control**
            </label>
        </div>
    </div>
</div> -->

<div style="background-color: rgb(243, 243, 146);" novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.VPRDS012WARNING">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label style="background-color: red; text-align: center; width: 100%;" class="font-weight-bolder font-size-h2 text-white">
                          VPRDS012  WARNNING
                        </label>
                    </div>
                    
                          <div class="col-lg-12">
                  <label class="lbl_title" [magic]="mgc.V_MESSAGE_P">
              {{ mg.getValue(mgc.V_MESSAGE_P) }}
            </label>
                    </div>

                          <div class="col-lg-12">
                        <label [magic]="mgc.Label2" class="lbl_title">
                            Click or press return key to continue!
                        </label>
                    </div>
                    

                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="button" [magic]="mgc.btn_Close"
                                class="btn btn-danger font-weight-bold mr-3 btn-wdth">RETURN</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>