<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.EVSM_BOMCODE">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            EVSM BOMCODE : MODIFY
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.B_EXIT"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-5" >
                                 <div class="form-group-sm">
                                    <label>MODEL CODE</label>
                                    <input class="form-control" [formControlName]="mgc.V_MODEL_CODE"
                                        [magic]="mgc.V_MODEL_CODE" mgFormat />
                                    <mgError [magic]=mgc.V_MODEL_CODE> </mgError>
                                </div>
                            </div>


                            <div class="col-lg-5">
                                <div class="form-group-sm">
                                    <label>BOM CODE</label>
                                    <input class="form-control" [formControlName]="mgc.V_BOM_CODE"
                                        [magic]="mgc.V_BOM_CODE" mgFormat />
                                    <mgError [magic]=mgc.V_BOM_CODE> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-1">

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 col-xxl-12 mt-10">
                        <div class="form-group row">
                            <div class="col-lg-12 text-center">
                                <div class="form-group d-flex justify-content-center">
                                    <button type="button" [magic]="mgc.B_SAVE"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        SAVE
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>