<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PrintScreen"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column11"
                        [matColumnDef]="mgc.Column11"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            CreatedDate
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="date"
                                            [formControlName]="mgc.PrintDetails_CreatedDate"
                                            [magic]="mgc.PrintDetails_CreatedDate"
                                            [rowId]="row.rowId"
                                            dateInput
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.PrintDetails_CreatedDate"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.PrintDetails_CreatedDate, row.rowId)
| magicDate : mgc.PrintDetails_CreatedDate}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column12"
                        [matColumnDef]="mgc.Column12"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            CreatedTime
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.PrintDetails_CreatedTime"
                                            [magic]="mgc.PrintDetails_CreatedTime"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.PrintDetails_CreatedTime"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.PrintDetails_CreatedTime, row.rowId)
| magicTime : mgc.PrintDetails_CreatedTime}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column13"
                        [matColumnDef]="mgc.Column13"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            FileName
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PrintDetails_FileName"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_FileName"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PrintDetails_FileName
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_FileName"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PrintDetails_FileName, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column14"
                        [matColumnDef]="mgc.Column14"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            PRGName
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PrintDetails_PRGName"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PRGName"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PrintDetails_PRGName
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PRGName"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PrintDetails_PRGName, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column15"
                        [matColumnDef]="mgc.Column15"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            PrintType
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PrintDetails_PrintType"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PrintType"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PrintDetails_PrintType
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PrintType"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PrintDetails_PrintType, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column16"
                        [matColumnDef]="mgc.Column16"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            PrinterType
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PrintDetails_PrinterType"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PrinterType"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PrintDetails_PrinterType
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PrintDetails_PrinterType"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PrintDetails_PrinterType, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>