
.mat-cell:first-child{
    flex: 0 0 20%;
    padding-left: 5px;
}
.mat-header-cell:first-child{
    flex: 0 0 20%;
    padding-left: 5px;
}

.mat-header-cell:nth-child(2){
    flex: 0 0 15%;
}
.mat-cell:nth-child(2){
    flex: 0 0 15%;
}
.mat-header-cell:nth-child(3){
  flex: 0 0 15%;
}
.mat-cell:nth-child(3){
  flex: 0 0 15%;
}
 .mat-header-cell:nth-child(4){
  flex: 0 0 20%;
}
.mat-cell:nth-child(4){
  flex: 0 0 20%;
} 
.mat-header-cell:nth-child(5){
    flex: 0 0 15%;
}
.mat-cell:nth-child(5){
    flex: 0 0 15%;
} 
.mat-header-cell:nth-child(6){
    flex: 0 0 10%;
}
.mat-cell:nth-child(6){
    flex: 0 0 10%;
} 
.mat-header-cell:nth-child(7){
    flex: 0 0 10%;
}
.mat-cell:nth-child(7){
    flex: 0 0 10%;
} 


   

@media (max-width: 775.98px) 
{
.mat-cell:first-child{
    flex: 0 0 25%;
    padding-left: 5px;
    
}
.mat-header-cell:first-child{
  flex: 0 0 25%;
  padding-left: 5px;
  
}
.mat-header-cell:nth-child(2){
  flex: 0 0 25%;
}
.mat-cell:nth-child(2){
  flex: 0 0 25%;
}
.mat-header-cell:nth-child(3){
  flex: 0 0 25%;
}
.mat-cell:nth-child(3){
  flex: 0 0 25%;
}
.mat-header-cell:nth-child(5){
  flex: 0 0 25%;
}
.mat-cell:nth-child(5){
  flex: 0 0 25%;
}
} 