<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ERRORMESSAGE"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                FRAME LINE CALENDER AND ENGINE LINE CALENDER IS NOT MATCH
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                ENGINE PLAN CODE
            </label>
            <label [magic]="mgc.V_VSA_PLAN_CODE_AE">
                {{mg.getValue(mgc.V_VSA_PLAN_CODE_AE) }}
            </label>
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                ENGINE INDICATION DATE
            </label>
            <label [magic]="mgc.V_VSA_DATE_AE">
                {{mg.getValue(mgc.V_VSA_DATE_AE)
| magicDate : mgc.V_VSA_DATE_AE}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                FRAME PLAN CODE
            </label>
            <label [magic]="mgc.V_VSA_PLAN_CODE_AF">
                {{mg.getValue(mgc.V_VSA_PLAN_CODE_AF) }}
            </label>
            <label
                [magic]="mgc.Label8"
                class="lable_overflow"
            >
                FRAME INDICATION DATE
            </label>
            <label [magic]="mgc.V_VSA_DATE_AF">
                {{mg.getValue(mgc.V_VSA_DATE_AF)
| magicDate : mgc.V_VSA_DATE_AF}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label10"
                class="lable_overflow"
            >
                PLEASE CHECK LINE CALENDAR
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btn_Exit">
                {{mg.getValue(mgc.btn_Exit)}}
            </button>
        </div>
    </div>
</div> -->

<div style="background-color: rgb(243, 243, 146);" novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.ERRORMESSAGE">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">


                    <div class="col-lg-12">
                        <label style="background-color: red; text-align: center; width: 100%;"
                            class="font-weight-bolder font-size-h2 text-white">
                            ERROR MESSAGE
                        </label>
                    </div>

                    <div class="col-lg-12">
                        <label [magic]="mgc.Label1" class="lbl_title">
                            FRAME LINE CALENDER AND ENGINE LINE CALENDER IS NOT MATCH
                        </label>
                    </div>
 <div class="col-lg-12">
                           <label>
                            
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <label [magic]="mgc.Label2" class="lbl_title">
                            ENGINE PLAN CODE:
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl_errmessage">
                            {{mg.getValue(mgc.V_VSA_PLAN_CODE_AE) }}
                        </label>

                    </div>
                    <div class="col-lg-8">
                        <label [magic]="mgc.Label4" class="lbl_title">
                            ENGINE INDICATION DATE:
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl_errmessage" [magic]="mgc.V_VSA_DATE_AE">
                            {{mg.getValue(mgc.V_VSA_DATE_AE)
                            | magicDate : mgc.V_VSA_DATE_AE}}
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <label [magic]="mgc.Label6" class="lbl_title">
                            FRAME PLAN CODE:
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl_errmessage">
                            {{mg.getValue(mgc.V_VSA_PLAN_CODE_AF) }}
                        </label>

                    </div>
                    <div class="col-lg-8">
                        <label [magic]="mgc.Label8" class="lbl_title">
                            FRAME INDICATION DATE:
                        </label>
                    </div>
                    <div class="col-lg-4">

                        <label class="lbl_errmessage" [magic]="mgc.V_VSA_DATE_AF">
                            {{mg.getValue(mgc.V_VSA_DATE_AF)
                            | magicDate : mgc.V_VSA_DATE_AF}}
                        </label>
                    </div>
                        <div class="col-lg-12">
                           <label>
                            
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label style="text-align: center; width: 100%;" [magic]="mgc.Label10" class="lbl_title">
                            PLEASE CHECK LINE CALENDAR
                        </label>
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="button" [magic]="mgc.btn_Exit"
                                class="btn btn-danger font-weight-bold mr-3 btn-wdth">OK</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>