<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ShiftTimesLine"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column2"
                        [matColumnDef]="mgc.Column2"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            ProdLine
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.ShiftTimesLine_ProdLine"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.ShiftTimesLine_ProdLine"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.ShiftTimesLine_ProdLine
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.ShiftTimesLine_ProdLine"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.ShiftTimesLine_ProdLine, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column3"
                        [matColumnDef]="mgc.Column3"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Shift
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.ShiftTimesLine_SHIFT"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.ShiftTimesLine_SHIFT"
                                            [rowId]="row.rowId"
                                            mgFormat
                                            rangevalidator
                                        />
                                        <mgError
                                            [magic]=mgc.ShiftTimesLine_SHIFT
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.ShiftTimesLine_SHIFT"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.ShiftTimesLine_SHIFT, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column4"
                        [matColumnDef]="mgc.Column4"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            ShiftStartTime
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.ShiftStartTime"
                                            [magic]="mgc.ShiftStartTime"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.ShiftStartTime"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.ShiftStartTime, row.rowId)
| magicTime : mgc.ShiftStartTime}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column5"
                        [matColumnDef]="mgc.Column5"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            ShiftEndTime
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.ShiftEndTime"
                                            [magic]="mgc.ShiftEndTime"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.ShiftEndTime"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.ShiftEndTime, row.rowId)
| magicTime : mgc.ShiftEndTime}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column6"
                        [matColumnDef]="mgc.Column6"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk1Start
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk1Start"
                                            [magic]="mgc.Brk1Start"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk1Start"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk1Start, row.rowId)
| magicTime : mgc.Brk1Start}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column7"
                        [matColumnDef]="mgc.Column7"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk1End
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk1End"
                                            [magic]="mgc.Brk1End"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk1End"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk1End, row.rowId)
| magicTime : mgc.Brk1End}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column8"
                        [matColumnDef]="mgc.Column8"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk2Start
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk2Start"
                                            [magic]="mgc.Brk2Start"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk2Start"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk2Start, row.rowId)
| magicTime : mgc.Brk2Start}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column9"
                        [matColumnDef]="mgc.Column9"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk2End
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk2End"
                                            [magic]="mgc.Brk2End"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk2End"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk2End, row.rowId)
| magicTime : mgc.Brk2End}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column10"
                        [matColumnDef]="mgc.Column10"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk3Start
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk3Start"
                                            [magic]="mgc.Brk3Start"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk3Start"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk3Start, row.rowId)
| magicTime : mgc.Brk3Start}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column11"
                        [matColumnDef]="mgc.Column11"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk3End
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk3End"
                                            [magic]="mgc.Brk3End"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk3End"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk3End, row.rowId)
| magicTime : mgc.Brk3End}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column12"
                        [matColumnDef]="mgc.Column12"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk4Start
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk4Start"
                                            [magic]="mgc.Brk4Start"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk4Start"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk4Start, row.rowId)
| magicTime : mgc.Brk4Start}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column13"
                        [matColumnDef]="mgc.Column13"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk4End
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk4End"
                                            [magic]="mgc.Brk4End"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk4End"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk4End, row.rowId)
| magicTime : mgc.Brk4End}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column14"
                        [matColumnDef]="mgc.Column14"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk5tSart
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk5tSart"
                                            [magic]="mgc.Brk5tSart"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk5tSart"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk5tSart, row.rowId)
| magicTime : mgc.Brk5tSart}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column15"
                        [matColumnDef]="mgc.Column15"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Brk5End
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div
                                        *ngIf="mg.isRowInRowEditing(row)"
                                        style="display: flex; flex-direction: row"
                                    >
                                        <input
                                            type="time"
                                            [formControlName]="mgc.Brk5End"
                                            [magic]="mgc.Brk5End"
                                            [rowId]="row.rowId"
                                            step=1
                                        />
                                    </div>
                                    <label
                                        *ngIf="!mg.isRowInRowEditing(row)"
                                        [magic]="mgc.Brk5End"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Brk5End, row.rowId)
| magicTime : mgc.Brk5End}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VModify">
                {{mg.getValue(mgc.VModify)}}
            </button>
            <button [magic]="mgc.VSave">
                {{mg.getValue(mgc.VSave)}}
            </button>
            <button [magic]="mgc.VCancel">
                {{mg.getValue(mgc.VCancel)}}
            </button>
        </div>
    </div>
</div>