.mat-header-row{
  background: none;
  background-color: #008080! important;
  color: #ffffff;
}

.mat-mdc-cell:first-child{
    flex: 0 0 17%;
    padding-left: 5px;
}
.mat-mdc-header-cell:first-child{
    flex: 0 0 17%;
    padding-left: 5px;
}
.mat-mdc-cell:nth-child(2){
  flex: 0 0 14%;
}
.mat-mdc-header-cell:nth-child(2){
  flex: 0 0 14%;
}
.mat-mdc-cell:nth-child(3){
  flex: 0 0 5%;
}
.mat-mdc-header-cell:nth-child(3){
  flex: 0 0 5%;
}

.mat-mdc-cell:nth-child(4){
  flex: 0 0 12%;
}
.mat-mdc-header-cell:nth-child(4){
  flex: 0 0 12%;
}

.mat-mdc-cell:nth-child(5){
  flex: 0 0 8%;
}
.mat-mdc-header-cell:nth-child(5){
  flex: 0 0 8%;
}
.mat-mdc-cell:nth-child(6){
  flex: 0 0 6%;
}
.mat-mdc-header-cell:nth-child(6){
  flex: 0 0 6%;
}

.mat-mdc-cell:nth-child(7){
  flex: 0 0 10%;
}
.mat-mdc-header-cell:nth-child(7){
  flex: 0 0 10%;
}
.mat-mdc-cell:nth-child(8){
  flex: 0 0 12%;
}
.mat-mdc-header-cell:nth-child(8){
  flex: 0 0 12%;
}

.mat-mdc-cell:nth-child(9){
  flex: 0 0 16%;
}
.mat-mdc-header-cell:nth-child(9){
  flex: 0 0 16%;
}
