<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.DispatchStop"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                PGM=DispatchStop(Lock)
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                Dispatch Stop (Lock)
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
            </label>
            <div
                [magic]="mgc.V_Mode"
                (change)="task.mgOnRadioSelectionChanged(mgc.V_Mode)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.V_Mode);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.V_Mode"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                Title
            </label>
            <div
                [magic]="mgc.r_TitleOption"
                (change)="task.mgOnRadioSelectionChanged(mgc.r_TitleOption)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.r_TitleOption);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.r_TitleOption"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.v_Title"
                    [magic]="mgc.v_Title"
                    [style.visibility]="mg.getVisible(mgc.v_Title)"
                    mgFormat
                />
                <mgError [magic]=mgc.v_Title> </mgError>
            </div>
            <div>
                <select
                    [magic]="mgc.v_Title_0001"
                    [style.visibility]="mg.getVisible(mgc.v_Title_0001)"
                    [formControlName]="mgc.v_Title_0001"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.v_Title_0001);"
                        [selected]="o.index == mg.getValue(mgc.v_Title_0001)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.V_Proeed"
                [disabled]="mg.isDisabled(mgc.V_Proeed )"
            >
                {{mg.getValue(mgc.V_Proeed)}}
            </button>
            <button [magic]="mgc.V_Exit">
                {{mg.getValue(mgc.V_Exit)}}
            </button>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.DispatchStop">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                          Dispatch Stop (Lock)
                        </label></h3>
                  
                    <div class="d-flex align-items-center">
                          <input class="form-control" style="color:white; width:auto;background-color:transparent;border: none;"
                        [formControlName]="mgc.Edit2" [magic]="mgc.Edit2" mgFormat />
                        <label  class="mb-0 mr-3">
                            PGM=DispatchStop(Lock)
                        </label>
                    
                        <button type="button" [magic]="mgc.btn_Close"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">

                    <div class="col-lg-12">
                        <div class="form-group row">
                          
                              <div class="form-group">
        <label>SELECT</label>
        <div [magic]="mgc.V_Mode"
             (change)="task.mgOnRadioSelectionChanged(mgc.V_Mode)">

            <div style="display: inline-block; margin-right: 15px;"
                 *ngFor="let o of mg.getItemListValues(mgc.V_Mode);">
                <label>
                    <input type="radio"
                           [formControlName]="mgc.V_Mode"
                           [value]="o.index" />
                    {{o.displayValue}}
                </label>
            </div>

        </div>
    </div>


                 <div class="form-group">
        <label>TITLE</label>
        <div [magic]="mgc.r_TitleOption"
             (change)="task.mgOnRadioSelectionChanged(mgc.r_TitleOption)">

            <div style="display: inline-block; margin-right: 15px;"
                 *ngFor="let o of mg.getItemListValues(mgc.r_TitleOption);">
                <label>
                    <input type="radio"
                           [formControlName]="mgc.r_TitleOption"
                           [value]="o.index" />
                    {{o.displayValue}}
                </label>
            </div>

        </div>
    </div>

    <div class="form-group-sm">
                        <label class="lbl-sm"></label>
                             <select *ngIf="mg.getVisible(mgc.v_Title_0001)==='visible'" class="form-control-ed" [magic]="mgc.v_Title_0001"
                                    [formControlName]="mgc.v_Title_0001">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.v_Title_0001);"
                                        [selected]="o.index == mg.getValue(mgc.v_Title_0001)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                    </div>
                    
    <div class="form-group-sm">
                        <label class="lbl-sm"></label>
                          <input *ngIf="mg.getVisible(mgc.v_Title)==='visible'"  class="form-control" 
                        [formControlName]="mgc.v_Title" [magic]="mgc.v_Title" mgFormat />
                        
                    </div>


                            

   <div class="col-lg-12 text-center" style="margin-top: 5%;">
                                        <div class="form-group d-flex justify-content-center">

                                            <button type="button" [magic]="mgc.V_Proeed"
                                             [disabled]="mg.isDisabled(mgc.V_Proeed )"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                                Proceed
                                            </button>
                                            <button type="button" [magic]="mgc.V_Exit"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                          Cancel
                                            </button>

                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>