<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.MODELGUIDE">
        <div style="display: flex; flex-direction: row">
            <div>
                <input [formControlName]="mgc.vSearch" [magic]="mgc.vSearch" mgFormat />
                <mgError [magic]=mgc.vSearch> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Subform9">
            </magic-subform>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.MODELGUIDE">
        <div class="col-lg-12 px-0">
            <div class="form-group row">
                <div class="col-lg-6 col-sm-6">
                    <input class="form-control" [formControlName]="mgc.vSearch" [magic]="mgc.vSearch"
                        placeholder="Search by MTO NAME,CODE" mgFormat />
                    <mgError [magic]=mgc.vSearch> </mgError>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <button class="btn btn-warning btn-sm ml-5" [magic]="mgc.btnSearch">
                        Search
                    </button>
                </div>
            </div>

        </div>
        <div class="col-lg-12 px-0">
            <magic-subform [magic]="mgc.Subform9">
            </magic-subform>
        </div>
    </div>
</div>