<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VEHICLEAFOFF175"
    >
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btn_Close">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                [style.visibility]="mg.getVisible(mgc.Label7)"
                class="lable_overflow"
            >
                Click to select models --->
            </label>
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                Date From:
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                Prod Line :
            </label>
            <input
                type="date"
                [formControlName]="mgc.v_DateFrom"
                [magic]="mgc.v_DateFrom"
                dateInput
            />
            <div>
                <select
                    [magic]="mgc.v_Prod_Line"
                    [formControlName]="mgc.v_Prod_Line"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.v_Prod_Line);"
                        [selected]="o.index == mg.getValue(mgc.v_Prod_Line)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                To:
            </label>
            <button [magic]="mgc.v_ModeList">
                Model \List
            </button>
            <input
                type="date"
                [formControlName]="mgc.v_DateTo"
                [magic]="mgc.v_DateTo"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label8"
                class="lable_overflow"
            >
            </label>
            <label [magic]="mgc.Edit10">
                {{mg.getValue(mgc.Edit10) }}
            </label>
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                Generate:
            </label>
            <div
                [magic]="mgc.v_GenXLorRep"
                (change)="task.mgOnRadioSelectionChanged(mgc.v_GenXLorRep)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.v_GenXLorRep);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.v_GenXLorRep"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
            <button [magic]="mgc.v_Generate">
                Generate Report
            </button>
            <div>
                <input
                    [formControlName]="mgc.vFileName"
                    [magic]="mgc.vFileName"
                    mgFormat
                />
                <mgError [magic]=mgc.vFileName> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.vBlob64base"
                    [magic]="mgc.vBlob64base"
                />
                <mgError [magic]=mgc.vBlob64base> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.CancelCtl">
                Cancel
            </button>
        </div>
    </div>
</div>