<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.MODELTABLEMAINTENANCE"
    >
        <div style="display: flex; flex-direction: row">
            <div
                [magic]="mgc.MODE_V"
                (change)="task.mgOnRadioSelectionChanged(mgc.MODE_V)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.MODE_V);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.MODE_V"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                SELECT
            </label>
            <div
                [magic]="mgc.SELECT_V"
                (change)="task.mgOnRadioSelectionChanged(mgc.SELECT_V)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.SELECT_V);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.SELECT_V"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                MODEL CODE
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.MTO_CODE_V"
                    [magic]="mgc.MTO_CODE_V"
                    [style.visibility]="mg.getVisible(mgc.MTO_CODE_V)"
                    mgFormat
                />
                <mgError [magic]=mgc.MTO_CODE_V> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.MTO_CODE_V"
                    [style.visibility]="mg.getVisible(mgc.MTO_CODE_V)"
                >...</button>
            </div>
            <div>
                <input
                    [formControlName]="mgc.V_LOCATE_P"
                    [magic]="mgc.V_LOCATE_P"
                    mgFormat
                />
                <mgError [magic]=mgc.V_LOCATE_P> </mgError>
            </div>
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                PGM=VPRDO012
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicDate : mgc.Edit4}}
            </label>
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5)
| magicTime : mgc.Edit5}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                BOM CODE
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.BOM_CODE_V"
                    [magic]="mgc.BOM_CODE_V"
                    [style.visibility]="mg.getVisible(mgc.BOM_CODE_V)"
                    mgFormat
                />
                <mgError [magic]=mgc.BOM_CODE_V> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.BOM_CODE_V"
                    [style.visibility]="mg.getVisible(mgc.BOM_CODE_V)"
                >...</button>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Sub1">
            </magic-subform>
        </div>
    </div>
</div>