<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.ERROR_MESSAGE">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1" class="lable_overflow">
            </label>
            <label [magic]="mgc.Label2" class="lable_overflow">
                WARNING
            </label>
            <div *ngIf="mg.isImageExists(mgc.Image3)">
                <img [magic]="mgc.Image3" [src]="mg.getImage(mgc.Image3)" />
            </div>
            <label [magic]="mgc.V_MESSAGE_P">
                {{mg.getValue(mgc.V_MESSAGE_P) }}
            </label>
            <button [magic]="mgc.btn_Exit">
                OK
            </button>
            <label [magic]="mgc.V_OK">
                {{mg.getValue(mgc.V_OK) }}
            </label>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.ERROR_MESSAGE">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-2">
                        <img src="assets/images/error.png" class="max-h-80px mt-4" alt="">
                    </div>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <label
                                style="background-color: rgb(238, 7, 7); color:#f8f8f8; width: 100%; font-size: 2rem; font-weight: 600;">WARNING</label>
                            <textarea [formControlName]="mgc.V_MESSAGE_P" [magic]="mgc.V_MESSAGE_P"
                                style="background-color: #e76c6c;" class="form-control" rows="3" mgFormat></textarea>
                            <mgError [magic]=mgc.V_MESSAGE_P> </mgError>
                        </div>
                    </div>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <button type="button" [magic]="mgc.btn_Exit"
                                class="btn btn-danger font-weight-bold mr-3 btn-wdth">OK</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>