<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.SHIFTWISE_AF_OFF_REPORT_177"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                DATE:
            </label>
            <input
                type="date"
                [formControlName]="mgc.v_Date"
                [magic]="mgc.v_Date"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                SHIFT:
            </label>
            <div>
                <input
                    [formControlName]="mgc.v_Shift"
                    [magic]="mgc.v_Shift"
                    mgFormat
                    rangevalidator
                />
                <mgError [magic]=mgc.v_Shift> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                LINE:
            </label>
            <div>
                <select
                    [magic]="mgc.v_Plant"
                    [formControlName]="mgc.v_Plant"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.v_Plant);"
                        [selected]="o.index == mg.getValue(mgc.v_Plant)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                REPORT TYPE:
            </label>
            <div
                [magic]="mgc.v_ReportType"
                (change)="task.mgOnRadioSelectionChanged(mgc.v_ReportType)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.v_ReportType);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.v_ReportType"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                C:\magic\temp\ShiftAf.csv
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_Exec">
                EXEC
            </button>
            <button [magic]="mgc.v_Exit">
                EXIT
            </button>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.SHIFTWISE_AF_OFF_REPORT_177">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                       SHIFTWISE AF-OFF REPORT
                        </label></h3>
                  
                    <div class="d-flex align-items-center">
                     
                    
                        <button type="button" [magic]="mgc.btn_Close"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">

                    <div class="col-lg-12">
                        <div class="form-group row">
                          

         <div class="col-lg-6">
                                 <div class="form-group">
                                    <label class="lbl-sm">Date </label>
                                <input class="form-control-ed" type="date" [formControlName]="mgc.v_Date"
                            [magic]="mgc.v_Date" dateInput />

                                </div>
                            </div>

                                  <div class="col-lg-6">
                    <div class="form-group-sm">
                        <label class="lbl-sm">Shift</label>
                        <input [formControlName]="mgc.v_Shift" [magic]="mgc.v_Shift" class="form-control-ed"
                            mgFormat />
                        <mgError [magic]="mgc.v_Shift"> </mgError>
                    </div>
                </div>

                              <div class="col-lg-6">
                    <div class="form-group-sm">
                        <label class="lbl-sm"> Line</label>
                        <select class="form-control-ed" [magic]="mgc.v_Plant" [formControlName]="mgc.v_Plant">
                            <option *ngFor="let o of mg.getItemListValues(mgc.v_Plant);"
                                [selected]="o.index == mg.getValue(mgc.v_Plant)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>

                 <div class="form-group">
        <label>Generate</label>
        <div [magic]="mgc.v_ReportType"
             (change)="task.mgOnRadioSelectionChanged(mgc.v_ReportType)">

            <div style="display: inline-block; margin-right: 15px;"
                 *ngFor="let o of mg.getItemListValues(mgc.v_ReportType);">
                <label>
                    <input type="radio"
                           [formControlName]="mgc.v_ReportType"
                           [value]="o.index" />
                    {{o.displayValue}}
                </label>
            </div>

        </div>
    </div>
   <div class="col-lg-12 text-center" style="margin-top: 5%;">
                                        <div class="form-group d-flex justify-content-center">

                                            <button type="button" [magic]="mgc.v_Exec"
                                             [disabled]="mg.isDisabled(mgc.v_Exec )"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                              EXEC
                                            </button>
                                            <button type="button" [magic]="mgc.v_Exit"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                          EXIT
                                            </button>

                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>