<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.PRD001_INQUIRY">
        <div class="col-lg-12 col-xxl-12">
            <div class="form-group row">
                <div class="col-lg-2">
                    <div class="form-group-sm">
                        <label class="lbl-sm">EFM</label>
                        <select class="form-control-ed" [magic]="mgc.S1_EFM" [formControlName]="mgc.S1_EFM">
                            <option *ngFor="let o of mg.getItemListValues(mgc.S1_EFM);"
                                [selected]="o.index == mg.getValue(mgc.S1_EFM)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group-sm">
                        <label class="lbl-sm">MODEL CODE</label>
                        <input [formControlName]="mgc.S1_MTO_CODE" [magic]="mgc.S1_MTO_CODE" class="form-control-ed"
                            mgFormat />
                        <mgError [magic]="mgc.S1_MTO_CODE"> </mgError>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group-sm">
                        <label class="lbl-sm">MODEL NAME</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_MTO_NAME" [magic]="mgc.S1_MTO_NAME"
                            mgFormat />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group-sm">
                        <label class="lbl-sm">BOM CODE</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_PARTS_MTO_CODE"
                            [magic]="mgc.S1_PARTS_MTO_CODE" mgFormat />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group-sm">
                        <label class="lbl-sm">24G</label>
                        <select class="form-control-ed" [magic]="mgc.S1_24G" [formControlName]="mgc.S1_24G">
                            <option *ngFor="let o of mg.getItemListValues(mgc.S1_24G);"
                                [selected]="o.index == mg.getValue(mgc.S1_24G)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="alert-primary hr">
            <div class="form-group row">

                <div class="col-lg-3 brown-right-border">
                    <label class="text-primary"> UNITED ENGINE</label>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label class="lbl-sm">EFM</label>
                                <input class="form-control" [formControlName]="mgc.S1_ENGEFM" [magic]="mgc.S1_ENGEFM"
                                    class="form-control-ed">
                            </div>
                            <div class="form-group col-lg-8">
                                <label class="lbl-sm">MODEL CODE</label>
                                <input [formControlName]="mgc.S1_ENGMTO_CODE" [magic]="mgc.S1_ENGMTO_CODE"
                                    class="form-control-ed" mgFormat />
                                <mgError [magic]="mgc.S1_ENGMTO_CODE"> </mgError>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">BASIC MODEL CODE</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_BASIC_MTO_CODE"
                            [magic]="mgc.S1_BASIC_MTO_CODE" mgFormat />
                    </div>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="lbl-sm">COOL</label>
                                <select class="form-control-ed" [magic]="mgc.S1_COOL" [formControlName]="mgc.S1_COOL">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.S1_COOL);"
                                        [selected]="o.index == mg.getValue(mgc.S1_COOL)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="lbl-sm">CYCLE</label>
                                <select class="form-control-ed" [magic]="mgc.S1_CYCLE" [formControlName]="mgc.S1_CYCLE">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.S1_CYCLE);"
                                        [selected]="o.index == mg.getValue(mgc.S1_CYCLE)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="lbl-sm">OEM ENG</label>
                                <select class="form-control-ed" [magic]="mgc.S1_OEM_CATEGORY"
                                    [formControlName]="mgc.S1_OEM_CATEGORY">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.S1_OEM_CATEGORY);"
                                        [selected]="o.index == mg.getValue(mgc.S1_OEM_CATEGORY)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="lbl-sm">SHORT BK ENG</label>
                                <select class="form-control-ed" [magic]="mgc.S1_SHORT_BLOCK"
                                    [formControlName]="mgc.S1_SHORT_BLOCK">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.S1_SHORT_BLOCK);"
                                        [selected]="o.index == mg.getValue(mgc.S1_SHORT_BLOCK)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">DUMMY MODEL TYPE</label>
                        <select class="form-control-ed" [magic]="mgc.S1_DUMMY_MODEL_TYPE"
                            [formControlName]="mgc.S1_DUMMY_MODEL_TYPE">
                            <option *ngFor="let o of mg.getItemListValues(mgc.S1_DUMMY_MODEL_TYPE);"
                                [selected]="o.index == mg.getValue(mgc.S1_DUMMY_MODEL_TYPE)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>

                </div>

                <div class="col-lg-3 brown-right-border">
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="lbl-sm">PROD.LINE MAIN</label>
                                <input class="form-control" [formControlName]="mgc.S1_PRODLINEMAIN"
                                    [magic]="mgc.S1_PRODLINEMAIN" class="form-control-ed">
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="lbl-sm">SUB</label>
                                <input [formControlName]="mgc.S1_PRODLINESUB" [magic]="mgc.S1_PRODLINESUB"
                                    class="form-control-ed" mgFormat />
                                <mgError [magic]="mgc.S1_PRODLINESUB"> </mgError>
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="lbl-sm">USE</label>
                                <input [formControlName]="mgc.S1_USE" [magic]="mgc.S1_USE" class="form-control-ed"
                                    mgFormat />
                                <mgError [magic]="mgc.S1_USE"> </mgError>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">CATEGORY</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_CATEGORY" [magic]="mgc.S1_CATEGORY"
                            mgFormat />
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">FAMILY</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_FAMILY" [magic]="mgc.S1_FAMILY"
                            mgFormat />
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">PACKING LOT</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_PACKING_LOT"
                            [magic]="mgc.S1_PACKING_LOT" mgFormat />
                    </div>

                    <div class="form-group-sm">

                    </div>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-7">
                                <label class="lbl-sm">KD LOT SIZE</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_KD_PACKING_LOT"
                                    [magic]="mgc.S1_KD_PACKING_LOT" mgFormat />
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="lbl-sm">SRS</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_SRS" [magic]="mgc.S1_SRS"
                                    mgFormat />
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">KD MOTHER FACTORY</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_KD_MOTHER_FACTORY"
                            [magic]="mgc.S1_KD_MOTHER_FACTORY" mgFormat />
                    </div>

                </div>

                <div class="col-lg-3 brown-right-border">
                    <div class="form-group-sm">
                        <label class="lbl-sm">TRIAL PARTS TBL CRE.DATE</label>
                        <input class="form-control-ed" type="date" [formControlName]="mgc.S1_TRIAL_PARTS_TBL_CREDATE"
                            [magic]="mgc.S1_TRIAL_PARTS_TBL_CREDATE" dateInput />
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">MASS PROD. ORDER DATE</label>
                        <input class="form-control-ed" type="date" [formControlName]="mgc.S1_MASS_PRODORDER_DATE"
                            [magic]="mgc.S1_MASS_PRODORDER_DATE" dateInput />
                    </div>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="lbl-sm">MASS PROD. DATE</label>
                                <input class="form-control-ed" type="date" [formControlName]="mgc.S1_MASS_PRODDATE"
                                    [magic]="mgc.S1_MASS_PRODDATE" dateInput />
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="lbl-sm">PROD. CLOSE DATE</label>
                                <input class="form-control-ed" type="date" [formControlName]="mgc.S1_PRODCLOSE_DATE"
                                    [magic]="mgc.S1_PRODCLOSE_DATE" dateInput />
                            </div>
                        </div>
                    </div>

                    <label class="text-primary mt-2"> DESIGNATION INFORMATION </label>
                    <div class="form-group-sm">
                        <label class="lbl-sm">NOISE</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_DESIGNNOISE"
                            [magic]="mgc.S1_DESIGNNOISE" mgFormat />
                    </div>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="lbl-sm">DESIGN NO</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_DESIGNNO"
                                    [magic]="mgc.S1_DESIGNNO" mgFormat />
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="lbl-sm">VARIANT NO</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_VARIANT_NO"
                                    [magic]="mgc.S1_VARIANT_NO" mgFormat />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-3 brown-right-border">
                    <div class="form-group-sm">
                        <label class="lbl-sm">COST CONTROL</label>
                        <select class="form-control-ed" [magic]="mgc.S1_COST_CONTROL"
                            [formControlName]="mgc.S1_COST_CONTROL">
                            <option *ngFor="let o of mg.getItemListValues(mgc.S1_COST_CONTROL);"
                                [selected]="o.index == mg.getValue(mgc.S1_COST_CONTROL)" [value]="o.index">
                                {{o.displayValue}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group-sm">
                        <button type="button" class="btn btn-warning btn-sm mr-2 mb-2" [magic]="mgc.btn_User_Action_20">
                            STAMP
                        </button>
                        <button type="button" class="btn btn-info btn-sm ml-2 mb-2" [magic]="mgc.btn_User_Action_19">
                            COLOR
                        </button>
                        <input class="form-control-ed" [formControlName]="mgc.S1_ENGFRMTYPE" [magic]="mgc.S1_ENGFRMTYPE"
                            mgFormat />
                    </div>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="lbl-sm">TACT</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_TACT" [magic]="mgc.S1_TACT"
                                    mgFormat />
                            </div>
                            <div class="form-group col-lg-7">
                                <label class="lbl-sm">PORT PROD LEAD TIME</label>
                                <input class="form-control-ed" [formControlName]="mgc.S1_PORTPRODLEAD_TIME"
                                    [magic]="mgc.S1_PORTPRODLEAD_TIME" mgFormat />
                            </div>
                        </div>
                    </div>
                    <label class="text-info mt-2"> AT/M</label>
                    <div class="container_border" style="display: flex; flex-direction: column">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label class="lbl-sm">EFM</label>
                                <input class="form-control" [formControlName]="mgc.S1_ATM_EFM" [magic]="mgc.S1_ATM_EFM"
                                    class="form-control-ed">
                            </div>
                            <div class="form-group col-lg-8">
                                <label class="lbl-sm">MODEL CODE</label>
                                <input [formControlName]="mgc.S1_ATM_MTO_CODE" [magic]="mgc.S1_ATM_MTO_CODE"
                                    class="form-control-ed" mgFormat />
                                <mgError [magic]="mgc.S1_ATM_MTO_CODE"> </mgError>
                            </div>

                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="lbl-sm">METHOD / VARIANT</label>
                        <input class="form-control-ed" [formControlName]="mgc.S1_ATM_METHODVARIANT"
                            [magic]="mgc.S1_ATM_METHODVARIANT" mgFormat />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <magic-subform [magic]="mgc.Sub1">
    </magic-subform>
</div>