.mat-header-row{
  background: none;
  background-color: #008080! important;
  color: #ffffff;
}

.mat-mdc-cell:first-child{
    flex: 0 0 20%;
    padding-left: 2px;
}
.mat-mdc-header-cell:first-child{
    flex: 0 0 20%;
    padding-left: 2px;
}
.mat-mdc-cell:nth-child(2){
  flex: 0 0 50%;
}
.mat-mdc-header-cell:nth-child(2){
  flex: 0 0 50%;
}
.mat-mdc-cell:nth-child(3){
  flex: 0 0 12%;
}
.mat-mdc-header-cell:nth-child(3){
  flex: 0 0 12%;
}
.mat-mdc-cell:nth-child(4){
  flex: 0 0 18%;
}
.mat-mdc-header-cell:nth-child(4){
  flex: 0 0 18%;
}
/* .mat-mdc-cell:nth-child(5){
  flex: 0 0 12%;
}
.mat-mdc-header-cell:nth-child(5){
  flex: 0 0 12%;
} 
.mat-mdc-cell:nth-child(7){
  flex: 0 0 10%;
}
.mat-mdc-header-cell:nth-child(7){
  flex: 0 0 10%;
} */