<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CHASSISNOGUIDE"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                PGM=VPRDG003
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column3"
                        [matColumnDef]="mgc.Column3"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            ENG.FRM.TYPE
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.S3_ENGFRMTYPE"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.S3_ENGFRMTYPE"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.S3_ENGFRMTYPE
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.S3_ENGFRMTYPE"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.S3_ENGFRMTYPE, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column4"
                        [matColumnDef]="mgc.Column4"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            PROD.1ST ENG/FRM NO.
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.S3_PROD1ST_CHASSIS_NO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.S3_PROD1ST_CHASSIS_NO))"
                                            [magic]="mgc.S3_PROD1ST_CHASSIS_NO"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.S3_PROD1ST_CHASSIS_NO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.S3_PROD1ST_CHASSIS_NO"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getFormattedValue(mgc.S3_PROD1ST_CHASSIS_NO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                                <label
                                    [magic]="mgc.Label7"
                                    [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.Label7, row.rowId)"
                                    class="lable_overflow"
                                >
                                    No longer produced.
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.CHASSISNOGUIDE">
        <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <h3><label class="lable_overflow mb-0">
                                PGM=VPRDS002
                            </label></h3>
                        <label></label>
                        <button type="button" [magic]="mgc.btn_Close"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">X</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-xxl-12">
                            <div class="form-group row">

                                <div style="display: flex; flex-direction: row">
                                    <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                                        <mat-table #table [dataSource]="dataSource" class="container_border" matSort
                                            matSortDisableClear (matSortChange)="tableService.sortData($event)">
                                            <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                                                <mat-header-cell *matHeaderCellDef>
                                                    ENG.FRM.TYPE
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                                    <div style="display: flex; flex-direction: row"
                                                        *ngIf="mg.ifRowCreated(row)">
                                                        <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                            <div>
                                                                <input [formControlName]="mgc.S3_ENGFRMTYPE"
                                                                    *ngIf="mg.isRowInRowEditing(row)"
                                                                    [magic]="mgc.S3_ENGFRMTYPE" [rowId]="row.rowId"
                                                                    mgFormat />
                                                                <mgError [magic]=mgc.S3_ENGFRMTYPE [rowId]="row.rowId">
                                                                </mgError>
                                                                <label *ngIf="!mg.isRowInRowEditing(row)"
                                                                    [magic]="mgc.S3_ENGFRMTYPE" [rowId]="row.rowId">
                                                                    {{mg.getValue(mgc.S3_ENGFRMTYPE, row.rowId)
                                                                    }}
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                                                <mat-header-cell *matHeaderCellDef>
                                                    PROD.1ST ENG/FRM NO.
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                                    <div style="display: flex; flex-direction: row"
                                                        *ngIf="mg.ifRowCreated(row)">
                                                        <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                            <div>
                                                                <input [formControlName]="mgc.S3_PROD1ST_CHASSIS_NO"
                                                                    *ngIf="mg.isRowInRowEditing(row)"
                                                                    [magic]="mgc.S3_PROD1ST_CHASSIS_NO"
                                                                    [rowId]="row.rowId" mgFormat />
                                                                <mgError [magic]=mgc.S3_PROD1ST_CHASSIS_NO
                                                                    [rowId]="row.rowId"> </mgError>
                                                                <label *ngIf="!mg.isRowInRowEditing(row)"
                                                                    [magic]="mgc.S3_PROD1ST_CHASSIS_NO"
                                                                    [rowId]="row.rowId">
                                                                    {{mg.getValue(mgc.S3_PROD1ST_CHASSIS_NO, row.rowId)
                                                                    }}
                                                                </label>
                                                            </div>
                                                        </div>



                                                    </div>
                                                    <div style="display: flex; flex-direction: row"
                                                        *ngIf="mg.ifRowCreated(row)">
                                                        <label style=" width: max-content;
" [magic]="mgc.Label7" [rowId]="row.rowId" [style.visibility]="mg.getVisible(mgc.Label7, row.rowId)"
                                                            class="lable_overflow">
                                                            No longer produced.
                                                        </label>

                                                    </div>
                                                </mat-cell>
                                            </ng-container>






                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                                                [ngClass]="{ 'selected': selection.isSelected(row)}"
                                                [magicRow]="row?.rowId"
                                                (click)="row? tableService.selectRow(row.rowId) : null">
                                            </mat-row>
                                        </mat-table>
                                        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                                            (page)="tableService.mgOnPaginateChange($event)">
                                        </mat-paginator>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   