<div novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.AEOFFRESULTENTRY2">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-1">
                        <div class="form-group-sm">
                            <label class="lbl-sm">ENGINE NO.</label>
                            <input [formControlName]="mgc.S5_ENGFRMTYPE" [magic]="mgc.S5_ENGFRMTYPE"
                                class="form-control-sm" mgFormat />
                            <mgError [magic]="mgc.S5_ENGFRMTYPE"> </mgError>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group-sm">
                            <label class="lbl-sm">.</label>
                            <input [formControlName]="mgc.S5_CHASSIS_NO" [magic]="mgc.S5_CHASSIS_NO"
                                class="form-control-sm" mgFormat />
                            <mgError [magic]="mgc.S5_CHASSIS_NO"> </mgError>
                        </div>

                    </div>
                    <div class="col-lg-2">
                        <div class="form-group-sm">
                            <label class="lbl-sm">MODEL CODE</label>
                            <input [formControlName]="mgc.S5_MTO_CODE" [magic]="mgc.S5_MTO_CODE" class="form-control-sm"
                                mgFormat />
                            <mgError [magic]="mgc.S5_MTO_CODE"> </mgError>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group-sm">
                            <label class="lbl-sm">PROD.LINE</label>
                            <input [formControlName]="mgc.S5_PRODLINE" [magic]="mgc.S5_PRODLINE" class="form-control-sm"
                                mgFormat />
                            <mgError [magic]="mgc.S5_MTO_CODE"> </mgError>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group-sm">
                            <label class="lbl-sm" style="width: 100%;">AE-OFF DATE - TIME</label>
                            <label class="text-danger font-size-h4 mr-8" style="background-color: #ebedf3;"> {{mg.getValue(mgc.S5_AFOFF_DATE)
                                | magicDate : mgc.S5_AFOFF_DATE}}</label>
                            <label class="text-danger font-size-h4" style="background-color: #ebedf3;"> {{mg.getValue(mgc.S5_AFOFF_TIME)
                                | magicTime : mgc.S5_AFOFF_TIME}}</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group-sm">
                            <label class="lbl-sm">TOTAL</label>
                            <input class="form-control-cnt" [formControlName]="mgc.V_PROGRESS1" type='number'
                                [magic]="mgc.V_PROGRESS1" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group-sm">
                            <label class="lbl-sm">MODEL/C TOTAL</label>
                            <input class="form-control-cnt" [formControlName]="mgc.V_PROGRESS2" type='number'
                                [magic]="mgc.V_PROGRESS2" mgFormat />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>