<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.MissingFrameNumberModify">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label1)}}
                        </label></h3>
                    <div class="d-flex align-items-center">
                       
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>From Date </label>
                                    <input class="form-control-ed"  type="date" [formControlName]="mgc.VFrom_Date"
                                        [magic]="mgc.VFrom_Date" dateInput />

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>To Date </label>
                                    <input class="form-control-ed"  type="date" [formControlName]="mgc.VTo_Date"
                                        [magic]="mgc.VTo_Date" dateInput />

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <div class="col-lg-12 text-center" style="margin-top: 5%;">
                                        <div class="form-group d-flex justify-content-center">

                                            <button type="button" [magic]="mgc.VOkButton"
                                                [disabled]="mg.isDisabled(mgc.VOkButton )"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                                Ok
                                            </button>
                                            <button type="button" [magic]="mgc.btnHelp"
                                                class="btn btn-warning font-weight-bold mr-3 btn-wdth">
                                                Help
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>