<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.ENGFRMNODETAILINQUIRY">
        <div class="card">
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">

                    <!-- Row 1 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label4" class="lbl-sm">VIN TYPE</label>
                                    <input [formControlName]="mgc.S5_VIN_TYPE" [magic]="mgc.S5_VIN_TYPE"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_VIN_TYPE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label11" class="lbl-sm">VIN C/D</label>
                                    <input [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_VIN_CD"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_VIN_CD"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_VIN_CD"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label17" class="lbl-sm">FRAME NO.MARK</label>
                                    <input [formControlName]="mgc.S5_FRAME_NOMARK" [magic]="mgc.S5_FRAME_NOMARK"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_FRAME_NOMARK"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label6" class="lbl-sm">OEM</label>
                                    <input [formControlName]="mgc.S5_OEM_CATEGORY" [magic]="mgc.S5_OEM_CATEGORY"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_OEM_CATEGORY"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label8" class="lbl-sm">UNITING(ENG./FRM.)</label>
                                    <input [formControlName]="mgc.S5_ENGMTO_CODE" [magic]="mgc.S5_ENGMTO_CODE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_ENGMTO_CODE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label14" class="lbl-sm">MODEL CODE</label>
                                    <input [formControlName]="mgc.S5_MTO_CODE" [magic]="mgc.S5_MTO_CODE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_MTO_CODE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label37" class="lbl-sm">MODEL NAME</label>
                                    <input [formControlName]="mgc.S5_MTO_NAME" [magic]="mgc.S5_MTO_NAME"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_MTO_NAME"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label20" class="lbl-sm">EFM</label>
                                    <input [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_ENGEFM"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ENGEFM"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ENGEFM"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label34" class="lbl-sm">EFM</label>
                                    <input [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_EFM"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_EFM"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_EFM"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label39" class="lbl-sm">COLOR CODE</label>
                                    <input [formControlName]="mgc.S5_COLOR_CODE" [magic]="mgc.S5_COLOR_CODE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_COLOR_CODE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label42" class="lbl-sm">COLOR CODE(INSIDE)</label>
                                    <input [formControlName]="mgc.S5_COLOR_CODEINSIDE"
                                        [magic]="mgc.S5_COLOR_CODEINSIDE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_COLOR_CODEINSIDE"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 4 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label25" class="lbl-sm">TYPE</label>
                                    <input [formControlName]="mgc.S5_ENGTYPE" [magic]="mgc.S5_ENGTYPE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_ENGTYPE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label31" class="lbl-sm">NO.</label>
                                    <input type="number" [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_ENGNO"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ENGNO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ENGNO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label26" class="lbl-sm">TYPE</label>
                                    <input [formControlName]="mgc.S5_ATM_NOTYPE" [magic]="mgc.S5_ATM_NOTYPE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_ATM_NOTYPE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label32" class="lbl-sm">NO.</label>
                                    <input type="number" [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_ATM_NO"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ATM_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_ATM_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label36" class="lbl-sm">AE/AF-OFF DATE</label>
                                    <input type="date" [formControlName]="mgc.S5_AEOFF_DATE"
                                        [magic]="mgc.S5_AEOFF_DATE"
                                        class="form-control-ed" dateInput />
                                    <mgError [magic]="mgc.S5_AEOFF_DATE"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 5 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label54" class="lbl-sm">SALES MODEL CODE</label>
                                    <input [formControlName]="mgc.S5_SALES_MTOC_CODE"
                                        [magic]="mgc.S5_SALES_MTOC_CODE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_SALES_MTOC_CODE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label63" class="lbl-sm">KD LOT NO.</label>
                                    <input [formControlName]="mgc.S5_KD_LOT_NO" [magic]="mgc.S5_KD_LOT_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_KD_LOT_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label72" class="lbl-sm">CONTRACT NO.</label>
                                    <input [formControlName]="mgc.S5_CONTRACT_NO" [magic]="mgc.S5_CONTRACT_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_CONTRACT_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label79" class="lbl-sm">CASE NO.</label>
                                    <input [formControlName]="mgc.S5_CASE_NO" [magic]="mgc.S5_CASE_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_CASE_NO"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 6 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label85" class="lbl-sm">PACKING TYPE</label>
                                    <input [formControlName]="mgc.S5_PACKING_TYPE" [magic]="mgc.S5_PACKING_TYPE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_PACKING_TYPE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label50" class="lbl-sm">REPLACE ENG</label>
                                    <input [formControlName]="mgc.S5_REPLACE_CATEGORY"
                                        [magic]="mgc.S5_REPLACE_CATEGORY"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_REPLACE_CATEGORY"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label47" class="lbl-sm">PLAN DATE</label>
                                    <input type="date" [formControlName]="mgc.S5_PLAN_DATE"
                                        [magic]="mgc.S5_PLAN_DATE"
                                        class="form-control-ed" dateInput />
                                    <mgError [magic]="mgc.S5_PLAN_DATE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">PLAN SEQ</label>
                                    <input type="number" [formControlName]="mgc.S5_PLAN_SEQ"
                                        [magic]="mgc.S5_PLAN_SEQ"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_PLAN_SEQ"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 7 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label57" class="lbl-sm">AE/AF-OFF</label>
                                    <input type="date" [formControlName]="mgc.S5_AFOFF_DATE"
                                        [magic]="mgc.S5_AFOFF_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">AE/AF TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_AFOFF_TIME"
                                        [magic]="mgc.S5_AFOFF_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label66" class="lbl-sm">VQ-ON</label>
                                    <input type="date" [formControlName]="mgc.S5_VQON_DATE"
                                        [magic]="mgc.S5_VQON_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-ON TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_VQON_TIME"
                                        [magic]="mgc.S5_VQON_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label73" class="lbl-sm">VQ-OFF</label>
                                    <input type="date" [formControlName]="mgc.S5_VQOFF_DATE"
                                        [magic]="mgc.S5_VQOFF_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-OFF TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_VQOFF_TIME"
                                        [magic]="mgc.S5_VQOFF_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 8 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label87" class="lbl-sm">PACKING</label>
                                    <input type="date" [formControlName]="mgc.S5_PACKING_DATE"
                                        [magic]="mgc.S5_PACKING_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">PACKING TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_PACKING_TIME"
                                        [magic]="mgc.S5_PACKING_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label48" class="lbl-sm">PROD.IND.DATE</label>
                                    <input type="date" [formControlName]="mgc.S5_PRODINDDATE"
                                        [magic]="mgc.S5_PRODINDDATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label52" class="lbl-sm">PROD.LINE</label>
                                    <input [formControlName]="mgc.S5_PRODLINE" [magic]="mgc.S5_PRODLINE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_PRODLINE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label60" class="lbl-sm">TIRE LOT</label>
                                    <input [formControlName]="mgc.S5_TIRE_LOT" [magic]="mgc.S5_TIRE_LOT"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_TIRE_LOT"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label76" class="lbl-sm">KEY NO.</label>
                                    <input [formControlName]="mgc.PRD005FRAMEENGINE_NO_S5_KEY_NO"
                                        [magic]="mgc.PRD005FRAMEENGINE_NO_S5_KEY_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.PRD005FRAMEENGINE_NO_S5_KEY_NO"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 9 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label90" class="lbl-sm">PALETTE</label>
                                    <input type="number" [formControlName]="mgc.S5_PALLET_No"
                                        [magic]="mgc.S5_PALLET_No"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_PALLET_No"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label94" class="lbl-sm">DESIGN.NOISE</label>
                                    <input [formControlName]="mgc.S5_DESIGNNOISE" [magic]="mgc.S5_DESIGNNOISE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_DESIGNNOISE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label100" class="lbl-sm">DESIGN.NO.</label>
                                    <input [formControlName]="mgc.S5_DESIGNNO" [magic]="mgc.S5_DESIGNNO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_DESIGNNO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label109" class="lbl-sm">VARIANT NO.</label>
                                    <input type="number" [formControlName]="mgc.S5_VARIANT_NO"
                                        [magic]="mgc.S5_VARIANT_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_VARIANT_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label119" class="lbl-sm">CERTIFICATE NO.</label>
                                    <input type="number" [formControlName]="mgc.S5_CERTIFICATE_NO"
                                        [magic]="mgc.S5_CERTIFICATE_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_CERTIFICATE_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label122" class="lbl-sm">CERTIFICATE CATEGORY</label>
                                    <input [formControlName]="mgc.S5_CERTIFICATE_CATEGORY"
                                        [magic]="mgc.S5_CERTIFICATE_CATEGORY"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_CERTIFICATE_CATEGORY"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 10 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label116" class="lbl-sm">QI STAMP NO.</label>
                                    <input [formControlName]="mgc.S5_QI_STAMP_NO" [magic]="mgc.S5_QI_STAMP_NO"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_QI_STAMP_NO"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label130" class="lbl-sm">SALES TOSS VQ</label>
                                    <input [formControlName]="mgc.S5_SALES_SYSTEM_TOSSVQ"
                                        [magic]="mgc.S5_SALES_SYSTEM_TOSSVQ"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_SALES_SYSTEM_TOSSVQ"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label102" class="lbl-sm">TRUCK</label>
                                    <input type="number" [formControlName]="mgc.S5_TRUCK_No"
                                        [magic]="mgc.S5_TRUCK_No"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_TRUCK_No"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label110" class="lbl-sm">ACT LINE</label>
                                    <input [formControlName]="mgc.S5_ACTUAL_PROD_LINE"
                                        [magic]="mgc.S5_ACTUAL_PROD_LINE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_ACTUAL_PROD_LINE"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 11 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label104" class="lbl-sm">DELIVERY</label>
                                    <input type="date" [formControlName]="mgc.S5_LOADING_DATE"
                                        [magic]="mgc.S5_LOADING_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">DELIVERY TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_LODAING_TIME"
                                        [magic]="mgc.S5_LODAING_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label104" class="lbl-sm">SHIPPING</label>
                                    <input type="date" [formControlName]="mgc.S5_SHIPPING_DATE"
                                        [magic]="mgc.S5_SHIPPING_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">SHIPPING TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_SHIPPING_TIME"
                                        [magic]="mgc.S5_SHIPPING_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label114" class="lbl-sm">RETURN</label>
                                    <input type="date" [formControlName]="mgc.S5_RETURN_DATE"
                                        [magic]="mgc.S5_RETURN_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">RETURN TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_RETURN_TIME"
                                        [magic]="mgc.S5_RETURN_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 12 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label125" class="lbl-sm"
                                        [style.visibility]="mg.getVisible(mgc.Label125)">RE-DELIVERY</label>
                                    <input type="date" [formControlName]="mgc.S5_RESHIPPING_DATE"
                                        [magic]="mgc.S5_RESHIPPING_DATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">RE-DELIVERY TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_RESHIPPING_TIME"
                                        [magic]="mgc.S5_RESHIPPING_TIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label132" class="lbl-sm">EXCEPTIONAL</label>
                                    <input type="date" [formControlName]="mgc.S5_EXCOUTGODATE"
                                        [magic]="mgc.S5_EXCOUTGODATE"
                                        class="form-control-ed" dateInput />
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">EXCEPTIONAL TIME</label>
                                    <input type="time" [formControlName]="mgc.S5_EXCOUTGOTIME"
                                        [magic]="mgc.S5_EXCOUTGOTIME"
                                        class="form-control-ed" step="1" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 13 -->
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label [magic]="mgc.Label132" class="lbl-sm">SH</label>
                                    <input [formControlName]="mgc.S5_SALES_TOSS" [magic]="mgc.S5_SALES_TOSS"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_SALES_TOSS"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">ATM MODEL CODE</label>
                                    <input [formControlName]="mgc.S5_ATM_MTO_CODE" [magic]="mgc.S5_ATM_MTO_CODE"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_ATM_MTO_CODE"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">ATM EFM</label>
                                    <input [formControlName]="mgc.S5_ATM_EFM" [magic]="mgc.S5_ATM_EFM"
                                        class="form-control-ed" mgFormat rangevalidator />
                                    <mgError [magic]="mgc.S5_ATM_EFM"></mgError>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">PLAN SEQ SUFFIX</label>
                                    <input type="number" [formControlName]="mgc.S5_PLAN_SEQ_SUFFIX"
                                        [magic]="mgc.S5_PLAN_SEQ_SUFFIX"
                                        class="form-control-ed" mgFormat />
                                    <mgError [magic]="mgc.S5_PLAN_SEQ_SUFFIX"></mgError>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
