<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.OldNewFormatForFrame5"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                CHOOSE THE FORMAT IN WHICH CARDS ARE TO BE PRINTED
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_Old">
                {{mg.getValue(mgc.v_Old)}}
            </button>
            <button [magic]="mgc.v_New">
                {{mg.getValue(mgc.v_New)}}
            </button>
        </div>
    </div>
</div>