<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CodeTypeMaster"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                Flag
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_FLAG"
                    [magic]="mgc.V_FLAG"
                    mgFormat
                />
                <mgError [magic]=mgc.V_FLAG> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                Code
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_CODE"
                    [magic]="mgc.V_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.V_CODE> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                Sub Code
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_SUBCODE"
                    [magic]="mgc.V_SUBCODE"
                    mgFormat
                />
                <mgError [magic]=mgc.V_SUBCODE> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                Description
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_DESCRIPTION"
                    [magic]="mgc.V_DESCRIPTION"
                    mgFormat
                />
                <mgError [magic]=mgc.V_DESCRIPTION> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.B_SAVE"
                [disabled]="mg.isDisabled(mgc.B_SAVE )"
            >
                {{mg.getValue(mgc.B_SAVE)}}
            </button>
            <button [magic]="mgc.B_EXIT">
                {{mg.getValue(mgc.B_EXIT)}}
            </button>
        </div>
    </div>
</div>