.login.login-3 .login-signin,
.login.login-3 .login-signup,
.login.login-3 .login-forgot {
  display: none; }

.login.login-3.login-signin-on .login-signup {
  display: none; }

.login.login-3.login-signin-on .login-signin {
  display: block; }

.login.login-3.login-signin-on .login-forgot {
  display: none; }

.login.login-3.login-signup-on .login-signup {
  display: block; }

.login.login-3.login-signup-on .login-signin {
  display: none; }

.login.login-3.login-signup-on .login-forgot {
  display: none; }

.login.login-3.login-forgot-on .login-signup {
  display: none; }

.login.login-3.login-forgot-on .login-signin {
  display: none; }

.login.login-3.login-forgot-on .login-forgot {
  display: block; }

.login.login-3 .login-form {
  width: 100%;
  max-width: 450px; }

@media (max-width: 575.98px) {
  .login.login-3 .login-form {
    width: 100%;
    max-width: 100%; 
    margin-top: 30px;} }





.login-name01 { 
    background: url(../media/icons/User.svg) no-repeat 95% 50%; 
  } 
.login-pass01 { 
    background:  url(../media/icons/Unlock.svg) no-repeat 95% 50%; 
  } 


  .pc-folding {
    width: 90px;
    height: 90px;
    display: inline-block;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 0;
  }
  .pc-folding span {
    position: relative;
    width: 45px;
    height: 45px;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: inline-block;
  }
  .pc-folding span::before {
    content: '';
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 45px;
    height: 45px;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -moz-animation: folding 2.5s infinite linear both;
    -webkit-animation: folding 2.5s infinite linear both;
    animation: folding 2.5s infinite linear both;
  }
  .pc-folding .pc2 {
    -moz-transform: rotateZ(90deg) scale(1.1);
    -ms-transform: rotateZ(90deg) scale(1.1);
    -webkit-transform: rotateZ(90deg) scale(1.1);
    transform: rotateZ(90deg) scale(1.1);
  }
  .pc-folding .pc2::before {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: #fafa00;
  }
  .pc-folding .pc3 {
    -moz-transform: rotateZ(270deg) scale(1.1);
    -ms-transform: rotateZ(270deg) scale(1.1);
    -webkit-transform: rotateZ(270deg) scale(1.1);
    transform: rotateZ(270deg) scale(1.1);
  }
  .pc-folding .pc3::before {
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    background-color: #f5f500;
  }
  .pc-folding .pc4 {
    -moz-transform: rotateZ(180deg) scale(1.1);
    -ms-transform: rotateZ(180deg) scale(1.1);
    -webkit-transform: rotateZ(180deg) scale(1.1);
    transform: rotateZ(180deg) scale(1.1);
  }
  .pc-folding .pc4::before {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: #cc0000;
    border: 5px solid white;
    box-sizing: border-box;
  }
  
  @-moz-keyframes folding {
    0%, 10% {
      -moz-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -moz-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -moz-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes folding {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  @keyframes folding {
    0%, 10% {
      -moz-transform: perspective(140px) rotateX(-180deg);
      -ms-transform: perspective(140px) rotateX(-180deg);
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -moz-transform: perspective(140px) rotateX(0deg);
      -ms-transform: perspective(140px) rotateX(0deg);
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -moz-transform: perspective(140px) rotateY(180deg);
      -ms-transform: perspective(140px) rotateY(180deg);
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  .pc-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    margin-left: -90px;
    width: 180px;
    height: 180px;
    text-align: center;
  }
  .pc-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
    width: 162px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    -moz-animation: shadow 0.9s ease infinite alternate;
    -webkit-animation: shadow 0.9s ease infinite alternate;
    animation: shadow 0.9s ease infinite alternate;
  }
  .pc-wrapper .loading {
    font-size: 11px;
    letter-spacing: 0.3em;
    display: block;
    color: #cacaca;
    position: relative;
    top: 45px;
    z-index: 2;
    -moz-animation: text 0.7s ease infinite alternate;
    -webkit-animation: text 0.7s ease infinite alternate;
    animation: text 0.7s ease infinite alternate;
  }
  
  @-moz-keyframes text {
    100% {
      top: 55px;
    }
  }
  @-webkit-keyframes text {
    100% {
      top: 55px;
    }
  }
  @keyframes text {
    100% {
      top: 55px;
    }
  }
  @-moz-keyframes shadow {
    100% {
      bottom: -18px;
      width: 120px;
    }
  }
  @-webkit-keyframes shadow {
    100% {
      bottom: -18px;
      width: 120px;
    }
  }
  @keyframes shadow {
    100% {
      bottom: -18px;
      width: 120px;
    }
  }
  .loadingbg {
    background: radial-gradient(circle, #ffffff 0%, #e1e4e7 100%);
    width: 100%;
    height: 100vh;
  }