<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.VQ_ONRESULT_ENTRY">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label2)}}
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <label [magic]="mgc.Edit3" class="mb-0 mr-3">
                            {{mg.getValue(mgc.Edit3)
                            | magicDate : mgc.Edit3}}
                        </label>
                        <label [magic]="mgc.Edit4" class="mb-0 mr-1">
                            {{mg.getValue(mgc.Edit4)
                            | magicTime : mgc.Edit4}}
                        </label>
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem ! important;">
                    <div class="col-lg-12">
                        <magic-subform [magic]="mgc.VQON_RESULT_ENTRY">
                        </magic-subform>
                    </div>
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">FRAME NUMBER</label>
                                    <input [formControlName]="mgc.Edit12" [magic]="mgc.Edit12" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit12"> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">.</label>
                                    <input [formControlName]="mgc.Edit13" [magic]="mgc.Edit13" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit13"> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">MODEL CODE</label>
                                    <input [formControlName]="mgc.Edit14" [magic]="mgc.Edit14" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit14"> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-ON DATE</label>
                                    <input type="date" [formControlName]="mgc.Edit15" [magic]="mgc.Edit15"
                                        class="form-control-sm text-danger" *ngIf="mg.getVisible(mgc.Edit15)==='visible'"
                                        dateInput />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-ON TIME</label>
                                    <input  type="time" [formControlName]="mgc.Edit16" [magic]="mgc.Edit16" class="form-control-sm text-danger"
                                        *ngIf="mg.getVisible(mgc.Edit16)==='visible'" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">TODAY RESULT</label>
                                    <input class="form-control-cnt" [formControlName]="mgc.V_PROGRESS" type='number'
                                        [magic]="mgc.V_PROGRESS" mgFormat />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div [magic]="mgc.MODE_DSP" *ngIf="mg.getVisible(mgc.MODE_DSP)==='visible'"
                                        (change)="task.mgOnRadioSelectionChanged(mgc.MODE_DSP)">
                                        <div *ngFor="let o of mg.getItemListValues(mgc.MODE_DSP);">
                                            <label>
                                                <input type="radio" [formControlName]="mgc.MODE_DSP"
                                                    [value]="o.index" />
                                                {{o.displayValue}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>FRAME NUMBER </label>
                                    <input (click)="selectText($event)" class="form-control-ent"
                                        [formControlName]="mgc.CHASSIS_NO_DSP" [magic]="mgc.CHASSIS_NO_DSP" mgFormat />
                                    <mgError [magic]=mgc.CHASSIS_NO_DSP> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-3" *ngIf="mg.getVisible(mgc.Edit21)==='visible'">
                                <div class="form-group">
                                    <label>ENGINE NO.</label>
                                    <input class="form-control-ent" [formControlName]="mgc.Edit21" [magic]="mgc.Edit21"
                                        mgFormat />
                                    <mgError [magic]=mgc.Edit21> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2" *ngIf="mg.getVisible(mgc.Edit21)==='visible'">

                            </div>
                            <div class="col-lg-12 text-center">
                                <label class="LastScanned mr-8">
                                    {{mg.getValue(mgc.LastScanned) }}</label>
                                <label class="LastScanned ml-5 mr-8">
                                    | | </label>
                                <label class="LastScanned ml-5">
                                    {{mg.getValue(mgc.LastScannedEngine) }}</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>