<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.OdometerReadingEntry">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lbl-sm" class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label1)}}
                        </label></h3>
                    <button type="button" [magic]="mgc.btn_Close"
                        class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row" style="margin: 0rem;">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4 border-yellow rounded p-2">
                            <div class="form-group">
                                <label class="lbl-header-tbl">
                                    FRAME NO.
                                </label>
                                <input class="form-control-ent" [formControlName]="mgc.vFRAMENO" [magic]="mgc.vFRAMENO"
                                    placeholder="Scan Frame" mgFormat />
                                <mgError [magic]=mgc.vFRAMENO> </mgError>
                            </div>
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-3 border-yellow rounded p-2">
                            <label class="lbl-header-tbl">
                                MTO CODE
                            </label>
                            <label class="lbl-header-tbl-data" [magic]="mgc.Label2">
                                {{mg.getText(mgc.Label2)}}
                            </label>
                        </div>
                        <div class="col-lg-3 border-yellow rounded p-2">
                            <label class="lbl-header-tbl">
                                COLOR CODE
                            </label>
                            <label class="lbl-header-tbl-data" [magic]="mgc.Label3">
                                {{mg.getText(mgc.Label3)}}
                            </label>
                        </div>
                        <div class="col-lg-3 border-yellow rounded p-2">
                            <label class="lbl-header-tbl">
                                PLANT
                            </label>
                            <label class="lbl-header-tbl-data" [magic]="mgc.Label4">
                                {{mg.getText(mgc.Label4)}}
                            </label>
                        </div>
                        <div class="col-lg-2">

                        </div>

                        <div class="col-lg-12 mt-5" style="width: 100%; text-align: center;"
                            *ngIf="mg.getVisible(mgc.vFRAME_SF)==='visible'">
                            <label class="h1 text-danger" [magic]="mgc.vFRAME_SF">
                                {{mg.getValue(mgc.vFRAME_SF) }}
                            </label>
                        </div>

                        <div class="col-lg-12 border-yellow rounded p-2 mt-3" style="width: 100%; text-align: center;"
                            *ngIf="mg.getVisible(mgc.Label6)==='visible'">
                            <label class="h3 text-danger" [magic]="mgc.Label6">
                                {{mg.getText(mgc.Label6)}}
                            </label>
                        </div>

                        <div class="col-lg-12 border-yellow rounded p-2 mt-3" style="width: 100%; text-align: center;"
                            *ngIf="mg.getVisible(mgc.Label7)==='visible'">
                            <label class="h3 text-danger" [magic]="mgc.Label7">
                                {{mg.getText(mgc.Label7)}}
                            </label>
                        </div>



                    </div>
                </div>

                <div class="col-lg-12">
                    <magic-subform [magic]="mgc.Sub1" [style.visibility]="mg.getVisible(mgc.Sub1)">
                    </magic-subform>

                </div>

            </div>
        </div>
    </div>
</div>