<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.OdometerCriteriaMaster">
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label1" class="lable_overflow">
                {{mg.getText(mgc.Label1)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label6" class="lable_overflow">
                Category
            </label>
            <div>
                <select [magic]="mgc.vSearch" [formControlName]="mgc.vSearch">
                    <option *ngFor="let o of mg.getItemListValues(mgc.vSearch);"
                        [selected]="o.index == mg.getValue(mgc.vSearch)" [value]="o.index">
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <div>
                <input [formControlName]="mgc.vSearch" [magic]="mgc.vSearch" mgFormat />
                <mgError [magic]=mgc.vSearch> </mgError>
            </div>
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.DETAIL">
            </magic-subform>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.OdometerCriteriaMaster">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lbl-sm" class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label1)}}
                        </label></h3>
                    <button type="button" [magic]="mgc.btnexit"
                        class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row" style="margin: 0rem;">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Category </label>
                                <select class="form-control" [magic]="mgc.vCategory" [formControlName]="mgc.vCategory">
                                    <option *ngFor="let o of mg.getItemListValues(mgc.vCategory);"
                                        [selected]="o.index == mg.getValue(mgc.vCategory)" [value]="o.index">
                                        {{o.displayValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Search </label>
                                <input class="form-control" [formControlName]="mgc.vSearch" [magic]="mgc.vSearch"
                                placeholder="Search by Criteria, Remarks"
                                    mgFormat />
                                <mgError [magic]=mgc.vSearch> </mgError>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <magic-subform [magic]="mgc.DETAIL">
            </magic-subform>
        </div>
    </div>
</div>