.mat-header-row{
  background: none;
  background-color: #008080! important;
  color: #ffffff;
}

.mat-mdc-cell:first-child{
    flex: 0 0 15%;
    padding-left: 5px;
}
.mat-mdc-header-cell:first-child{
    flex: 0 0 15%;
    padding-left: 5px;
}

.mat-mdc-cell:nth-child(3){
  flex: 0 0 6%;
}
.mat-mdc-header-cell:nth-child(3){
  flex: 0 0 6%;
}