<div
    novalidate
    [formGroup]="screenFormGroup"
>

     <div class="container-fluid-ov" [magic]="mgc.PRODSCHEDULECONTROLMENU">

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label1)}}
                        </label></h3>

                    <div class="d-flex align-items-center">
                        <label [magic]="mgc.Edit5" class="mb-0 mr-3">
                            {{mg.getValue(mgc.Edit5)
                            | magicDate : mgc.Edit5}}
                        </label>
                        <label [magic]="mgc.Edit6" class="mb-0 mr-3">
                            {{mg.getValue(mgc.Edit6)
                            | magicTime : mgc.Edit6}}
                        </label>
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">X</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <input class="form-control" style="width: 50%;" [formControlName]="mgc.V_LOCATE_P"
                                [magic]="mgc.V_LOCATE_P" mgFormat />
                        </div>
                        <div class="form-group">
                            <input class="form-control" style="width: 50%;" [formControlName]="mgc.V_DB_NAME1_P"
                                [magic]="mgc.V_DB_NAME1_P" mgFormat />
                        </div>
                        <div class="form-group">
                            <input class="form-control" style="width: 50%;" [formControlName]="mgc.V_DB_NAME2_P"
                                [magic]="mgc.V_DB_NAME2_P" mgFormat />
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVPRT0021"
                                *ngIf="mg.getVisible(mgc.BUTTONVPRT0021)==='visible'">
                                {{mg.getValue(mgc.BUTTONVPRT0021)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.BUTTONVPRT0022)==='visible'">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVPRT0022"
                                *ngIf="mg.getVisible(mgc.BUTTONVPRT0022)==='visible'">
                                {{mg.getValue(mgc.BUTTONVPRT0022)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.BUTTONBRRTO027)==='visible'">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONBRRTO027"
                                *ngIf="mg.getVisible(mgc.BUTTONBRRTO027)==='visible'">
                                {{mg.getValue(mgc.BUTTONBRRTO027)}}
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVMNUO00221"
                                *ngIf="mg.getVisible(mgc.BUTTONVMNUO00221)==='visible'">
                                {{mg.getValue(mgc.BUTTONVMNUO00221)}}
                            </button>
                        </div>
                          <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVMNUO00222"
                                *ngIf="mg.getVisible(mgc.BUTTONVMNUO00222)==='visible'">
                                {{mg.getValue(mgc.BUTTONVMNUO00222)}}
                            </button>
                        </div>
                          <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVMNUO00223"
                                *ngIf="mg.getVisible(mgc.BUTTONVMNUO00223)==='visible'">
                                {{mg.getValue(mgc.BUTTONVMNUO00223)}}
                            </button>
                        </div>
                          <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONVMNUO00224"
                                *ngIf="mg.getVisible(mgc.BUTTONVMNUO00224)==='visible'">
                                {{mg.getValue(mgc.BUTTONVMNUO00224)}}
                            </button>
                        </div>
                          <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mr-3 btn-wdth-75"
                                [magic]="mgc.BUTTONFILE_REORGANIZE"
                                *ngIf="mg.getVisible(mgc.BUTTONFILE_REORGANIZE)==='visible'">
                                {{mg.getValue(mgc.BUTTONFILE_REORGANIZE)}}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

