<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.VQ_OFFRESULT_ENTRY">
        <div style="display: flex; flex-direction: row">
            <div>
                <input [formControlName]="mgc.V_LOCATE_P" [magic]="mgc.V_LOCATE_P" mgFormat />
                <mgError [magic]=mgc.V_LOCATE_P> </mgError>
            </div>
            <label [magic]="mgc.Label2" class="lable_overflow">
                PGM=VPRDO043
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
                | magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
                | magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.VQOFF_RESULT_ENTRY">
            </magic-subform>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label5" class="lable_overflow">
            </label>
            <label [magic]="mgc.Label7" class="lable_overflow">
                FRAME NUMBER
            </label>
            <label [magic]="mgc.Edit12">
                {{mg.getValue(mgc.Edit12) }}
            </label>
            <label [magic]="mgc.Edit13">
                {{mg.getValue(mgc.Edit13) }}
            </label>
            <label [magic]="mgc.Label8" class="lable_overflow">
                MODEL CODE
            </label>
            <label [magic]="mgc.Edit14">
                {{mg.getValue(mgc.Edit14) }}
            </label>
            <label [magic]="mgc.Label9" class="lable_overflow">
                VQ-OFF DATE
            </label>
            <label [magic]="mgc.Edit15" [style.visibility]="mg.getVisible(mgc.Edit15)">
                {{mg.getValue(mgc.Edit15)
                | magicDate : mgc.Edit15}}
            </label>
            <label [magic]="mgc.Label10" class="lable_overflow">
                VQ-OFF TIME
            </label>
            <label [magic]="mgc.Edit16" [style.visibility]="mg.getVisible(mgc.Edit16)">
                {{mg.getValue(mgc.Edit16)
                | magicTime : mgc.Edit16}}
            </label>
            <label [magic]="mgc.Label6" class="lable_overflow">
            </label>
            <label [magic]="mgc.Label11" class="lable_overflow">
                TODAY RESULT
            </label>
            <div>
                <input [formControlName]="mgc.V_PROGRESS" type='number' [magic]="mgc.V_PROGRESS" mgFormat />
                <mgError [magic]=mgc.V_PROGRESS> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label18" class="lable_overflow">
            </label>
            <div [magic]="mgc.MODE_DSP" (change)="task.mgOnRadioSelectionChanged(mgc.MODE_DSP)">
                <div *ngFor="let o of mg.getItemListValues(mgc.MODE_DSP);">
                    <label>
                        <input type="radio" [formControlName]="mgc.MODE_DSP" [value]="o.index" />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
            <label [magic]="mgc.Label22" class="lable_overflow">
                FRAME NO.
            </label>
            <div>
                <input [formControlName]="mgc.FRAME_NO" [magic]="mgc.FRAME_NO" mgFormat />
                <mgError [magic]=mgc.FRAME_NO> </mgError>
            </div>
            <label [magic]="mgc.Label19" class="lable_overflow">
            </label>
            <label [magic]="mgc.Label23" class="lable_overflow">
                ENGINE NO.
            </label>
            <label [magic]="mgc.Edit21">
                {{mg.getValue(mgc.Edit21) }}
            </label>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.VQ_OFFRESULT_ENTRY">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label2)}}
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <label [magic]="mgc.Edit3" class="mb-0 mr-3">
                            {{mg.getValue(mgc.Edit3)
                            | magicDate : mgc.Edit3}}
                        </label>
                        <label [magic]="mgc.Edit4" class="mb-0 mr-1">
                            {{mg.getValue(mgc.Edit4)
                            | magicTime : mgc.Edit4}}
                        </label>
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">X</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12">
                        <magic-subform [magic]="mgc.VQOFF_RESULT_ENTRY">
                        </magic-subform>
                    </div>
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">FRAME NUMBER</label>
                                    <input [formControlName]="mgc.Edit12" [magic]="mgc.Edit12" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit12"> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">.</label>
                                    <input [formControlName]="mgc.Edit13" [magic]="mgc.Edit13" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit13"> </mgError>
                                </div>

                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">MODEL CODE</label>
                                    <input [formControlName]="mgc.Edit14" [magic]="mgc.Edit14" class="form-control-sm"
                                        mgFormat />
                                    <mgError [magic]="mgc.Edit14"> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-OFF DATE</label>
                                    <input type="date" [formControlName]="mgc.Edit15" [magic]="mgc.Edit15"
                                        class="form-control-sm text-danger" *ngIf="mg.getVisible(mgc.Edit15)==='visible'"
                                        dateInput />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">VQ-OFF TIME</label>
                                    <input  type="time" [formControlName]="mgc.Edit16" [magic]="mgc.Edit16" class="form-control-sm text-danger"
                                        *ngIf="mg.getVisible(mgc.Edit16)==='visible'" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label class="lbl-sm">TODAY RESULT</label>
                                    <input class="form-control-sm" [formControlName]="mgc.V_PROGRESS" type='number'
                                        [magic]="mgc.V_PROGRESS" mgFormat />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div [magic]="mgc.MODE_DSP" *ngIf="mg.getVisible(mgc.MODE_DSP)==='visible'"
                                        (change)="task.mgOnRadioSelectionChanged(mgc.MODE_DSP)">
                                        <div *ngFor="let o of mg.getItemListValues(mgc.MODE_DSP);">
                                            <label>
                                                <input type="radio" [formControlName]="mgc.MODE_DSP" [value]="o.index" />
                                                {{o.displayValue}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>FRAME NO </label>
                                    <input (click)="selectText($event)" class="form-control-ent" [formControlName]="mgc.FRAME_NO"
                                        [magic]="mgc.FRAME_NO" mgFormat />
                                    <mgError [magic]=mgc.FRAME_NO> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-3" *ngIf="mg.getVisible(mgc.Edit21)==='visible'">
                                <div class="form-group">
                                    <label>ENGINE NO.</label>
                                    <input (click)="selectText($event)" class="form-control-ent" [formControlName]="mgc.Edit21"
                                        [magic]="mgc.Edit21" mgFormat />
                                    <mgError [magic]=mgc.Edit21> </mgError>
                                </div>
                            </div>
                              <div class="col-lg-2">
                             
                            </div>
                            <div class="col-lg-12 text-center">
                                <label class="LastScanned mr-8">
                                    {{mg.getValue(mgc.LastScanned) }}</label>
                                <label class="LastScanned ml-5 mr-8">
                                    | | </label>
                                <label class="LastScanned ml-5">
                                    {{mg.getValue(mgc.LastScannedEngine) }}</label>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>