<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PRODUCTIONSEQUENCEPLANMENU"
    >
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.V_LOCATE_P">
                {{mg.getValue(mgc.V_LOCATE_P) }}
            </label>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                PGM=VMNUO002(2-2)
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.V_DB_NAME1_P">
                {{mg.getValue(mgc.V_DB_NAME1_P) }}
            </label>
            <label [magic]="mgc.V_DB_NAME2_P">
                {{mg.getValue(mgc.V_DB_NAME2_P) }}
            </label>
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5)
| magicDate : mgc.Edit5}}
            </label>
            <label [magic]="mgc.Edit6">
                {{mg.getValue(mgc.Edit6)
| magicTime : mgc.Edit6}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
            </label>
            <button
                [magic]="mgc.BUTTONVPRDO181"
                [style.visibility]="mg.getVisible(mgc.BUTTONVPRDO181)"
            >
                {{mg.getValue(mgc.BUTTONVPRDO181)}}
            </button>
            <button
                [magic]="mgc.BUTTONVPRDO182"
                [style.visibility]="mg.getVisible(mgc.BUTTONVPRDO182)"
            >
                {{mg.getValue(mgc.BUTTONVPRDO182)}}
            </button>
            <button
                [magic]="mgc.BUTTONVPRDB071"
                [style.visibility]="mg.getVisible(mgc.BUTTONVPRDB071)"
            >
                {{mg.getValue(mgc.BUTTONVPRDB071)}}
            </button>
            <button
                [magic]="mgc.BUTTONVPRDB073"
                [style.visibility]="mg.getVisible(mgc.BUTTONVPRDB073)"
            >
                {{mg.getValue(mgc.BUTTONVPRDB073)}}
            </button>
            <label
                [magic]="mgc.Label8"
                [style.visibility]="mg.getVisible(mgc.Label8)"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label10"
                [style.visibility]="mg.getVisible(mgc.Label10)"
                class="lable_overflow"
            >
            </label>
            <button
                [magic]="mgc.BUTTONPROD_INDICATE"
                [style.visibility]="mg.getVisible(mgc.BUTTONPROD_INDICATE)"
            >
                {{mg.getValue(mgc.BUTTONPROD_INDICATE)}}
            </button>
            <button
                [magic]="mgc.BUTTONYEAR_PROD_PLAN"
                [style.visibility]="mg.getVisible(mgc.BUTTONYEAR_PROD_PLAN)"
            >
                {{mg.getValue(mgc.BUTTONYEAR_PROD_PLAN)}}
            </button>
            <button
                [magic]="mgc.BUTTONMONTHLY_PROD_PLAN"
                [style.visibility]="mg.getVisible(mgc.BUTTONMONTHLY_PROD_PLAN)"
            >
                {{mg.getValue(mgc.BUTTONMONTHLY_PROD_PLAN)}}
            </button>
            <button
                [magic]="mgc.BUTTONPROD_SEQ_PLAN"
                [style.visibility]="mg.getVisible(mgc.BUTTONPROD_SEQ_PLAN)"
            >
                {{mg.getValue(mgc.BUTTONPROD_SEQ_PLAN)}}
            </button>
            <button
                [magic]="mgc.BUTTONVPRDB078"
                [style.visibility]="mg.getVisible(mgc.BUTTONVPRDB078)"
            >
                {{mg.getValue(mgc.BUTTONVPRDB078)}}
            </button>
            <label
                [magic]="mgc.Label9"
                [style.visibility]="mg.getVisible(mgc.Label9)"
                class="lable_overflow"
            >
                CAUTION
            </label>
            <label
                [magic]="mgc.Label11"
                [style.visibility]="mg.getVisible(mgc.Label11)"
                class="lable_overflow"
            >
                LIST
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label12"
                [style.visibility]="mg.getVisible(mgc.Label12)"
                class="lable_overflow"
            >
            </label>
            <button
                [magic]="mgc.BUTTONPROD_SEQ_PLANF"
                [style.visibility]="mg.getVisible(mgc.BUTTONPROD_SEQ_PLANF)"
            >
                {{mg.getValue(mgc.BUTTONPROD_SEQ_PLANF)}}
            </button>
            <button
                [magic]="mgc.BUTTONPROD_SEQ_PLANH"
                [style.visibility]="mg.getVisible(mgc.BUTTONPROD_SEQ_PLANH)"
            >
                {{mg.getValue(mgc.BUTTONPROD_SEQ_PLANH)}}
            </button>
        </div>
    </div>
</div>