<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.DEFECTENTRYSCREEN">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lbl-sm" class="lable_overflow mb-0">
                           VQMS003 : DEFECT ENTRY SCREEN
                        </label></h3>
                    <button type="button" [magic]="mgc.btnexit"
                        class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row" style="margin: 0rem;">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">LINE</label>
                                <input [formControlName]="mgc.V_p_LINENO" [magic]="mgc.V_p_LINENO"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">DATE</label>
                                <input class="form-control-sm" type="date" [formControlName]="mgc.Edit6"
                                        [magic]="mgc.Edit6" dateInput />
                            </div>
                        </div>
                        <div class="col-lg-2  text-center" >
                            <label class="lbl-sm mt-2" style="font-size: 1.2rem! important;">Count : </label>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm"> DPR </label>
                                <input [formControlName]="mgc.V_Total_DPR_Count" [magic]="mgc.V_Total_DPR_Count"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">DEFECT ENTERED</label>
                                <input [formControlName]="mgc.V_Total_Defect_Entered_Count" [magic]="mgc.V_Total_Defect_Entered_Count"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">TOTAL DEFECTIVE</label>
                                <input [formControlName]="mgc.V_Total_Defect_Count" [magic]="mgc.V_Total_Defect_Count"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="lbl-sm">FRAME NUMBER :</label>
                                <input [formControlName]="mgc.v_FRAME_NO" [magic]="mgc.v_FRAME_NO"
                                    class="form-control-editsm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">PASS DESCRIPTION :</label>
                                <input [formControlName]="mgc.PRD_VQMS_Header_PASS_DESC" [magic]="mgc.PRD_VQMS_Header_PASS_DESC"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">MODEL CODE :</label>
                                <input [formControlName]="mgc.ModelWiseMapping_MTOMAPCODE" [magic]="mgc.ModelWiseMapping_MTOMAPCODE"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="lbl-sm">FACTORY MODEL CODE :</label>
                                <input [formControlName]="mgc.S5_MTO_CODE" [magic]="mgc.S5_MTO_CODE"
                                    class="form-control-sm" mgFormat />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <magic-subform [magic]="mgc.DEFECT_ENTRY_SCREEN">
                </magic-subform>
            </div>
        </div>
    </div>
</div>