<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDB040STAMPINGMASTERINFO"
    >
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.V_LOCATE_P"
                    [magic]="mgc.V_LOCATE_P"
                    mgFormat
                />
                <mgError [magic]=mgc.V_LOCATE_P> </mgError>
            </div>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                PGM=
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_PGID"
                    [magic]="mgc.V_PGID"
                    mgFormat
                />
                <mgError [magic]=mgc.V_PGID> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicDate : mgc.Edit4}}
            </label>
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5)
| magicTime : mgc.Edit5}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                NOW PRINTING....
            </label>
        </div>
    </div>
</div> -->


<div
    novalidate
    [formGroup]="screenFormGroup"
>

 <div class="container-fluid" [magic]="mgc.VPRDB040STAMPINGMASTERINFO">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <h3><label class="lable_overflow mb-0">
                                     <input  class="form-control" style="width:auto;background-color:transparent;border: none;" [formControlName]="mgc.V_PGID"
                                        [magic]="mgc.V_PGID" mgFormat />
                                </label></h3>
                                <label></label>
                                 
                                    <input  class="form-control" style="width:auto;background-color:transparent;border: none;" [formControlName]="mgc.V_LOCATE_P"
                                        [magic]="mgc.V_LOCATE_P" mgFormat />
                            

                            <div class="d-flex">
                                <label [magic]="mgc.Edit4" class="mb-0 mr-3">
                                    {{mg.getValue(mgc.Edit4)
                                    | magicDate : mgc.Edit4}}
                                </label>
                                <label [magic]="mgc.Edit5" class="mb-0 mr-3">
                                    {{mg.getValue(mgc.Edit5)
                                    | magicTime : mgc.Edit5}}
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                         <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                  
                         <label
                                style="background-color: lightgrey;width: 100%; font-size: 1.5rem; font-weight: 600;text-align: center;">Now Printing....</label>

                    </div>





                  
                </div>

            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>