<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDB062HPEFIVSPRINT"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                PGM=VPRDB062
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                NOW PRINTING ...
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2)
| magicDate : mgc.Edit2}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                PLAN CODE:
            </label>
            <div>
                <input
                    [formControlName]="mgc.X2_PLAN_CODE"
                    [magic]="mgc.X2_PLAN_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.X2_PLAN_CODE> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                PLAN DATE:
            </label>
            <input
                type="date"
                [formControlName]="mgc.X2_PLAN_DATE"
                [magic]="mgc.X2_PLAN_DATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                PLAN SEQ:
            </label>
            <div>
                <input
                    [formControlName]="mgc.X2_PLAN_SEQ"
                    type='number'
                    [magic]="mgc.X2_PLAN_SEQ"
                    mgFormat
                />
                <mgError [magic]=mgc.X2_PLAN_SEQ> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.X2_PLAN_SEQ_SUFFIX"
                    type='number'
                    [magic]="mgc.X2_PLAN_SEQ_SUFFIX"
                    mgFormat
                />
                <mgError [magic]=mgc.X2_PLAN_SEQ_SUFFIX> </mgError>
            </div>
        </div>
    </div>
</div> -->



<div style="background-color: rgb(192, 199, 202);" novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.VPRDB062HPEFIVSPRINT">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label style="background-color: rgb(49, 84, 238); text-align: center; width: 100%;"
                            class="font-weight-bolder font-size-h2 text-white">
                            PGM=VPRDB062
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             {{mg.getValue(mgc.Edit2)
                                    | magicDate : mgc.Edit2}}

                                     {{mg.getValue(mgc.Edit4)
                                    | magicTime : mgc.Edit4}}
                        </label>
                    </div>
                
                    <div class="col-lg-12">
                        <label style="width: 100%; font-size: 1.5rem; font-weight: 600;text-align: center;">NOW
                            PRINTING ...</label>
                    </div>
                    <div class="col-lg-4">
                        <label  class="lbl_title">
                            PLAN CODE:
                        </label>
                    </div>
                    <div class="col-lg-8">

                        <label class="lbl_errmessage">
                            {{mg.getValue(mgc.X2_PLAN_CODE) }}
                        </label>

                    </div>
                    <div class="col-lg-4">

                        <label  class="lbl_title">
                            PLAN DATE:
                        </label>
                    </div>
                    <div class="col-lg-8">
                        <label class="lbl_errmessage" [magic]="mgc.X2_PLAN_DATE">
                            {{mg.getValue(mgc.X2_PLAN_DATE)
                            | magicDate : mgc.X2_PLAN_DATE}}
                        </label>
                    </div>

                    <div class="col-lg-5">

                        <label  class="lbl_title">
                            PLAN SEQ:
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="lbl_errmessage">
                            {{mg.getValue(mgc.X2_PLAN_SEQ) }}
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label class="lbl_errmessage">
                            {{mg.getValue(mgc.X2_PLAN_SEQ_SUFFIX) }}
                        </label>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>