<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.NewProductionMenu">
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VFRAME_HOLD_UTILITY" [style.visibility]="mg.getVisible(mgc.VFRAME_HOLD_UTILITY)">
                {{mg.getValue(mgc.VFRAME_HOLD_UTILITY)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VFRAMEENGINE">
                {{mg.getValue(mgc.VFRAMEENGINE)}}
            </button>
            <button [magic]="mgc.VHOLD_FRAME_REPORT" [style.visibility]="mg.getVisible(mgc.VHOLD_FRAME_REPORT)">
                {{mg.getValue(mgc.VHOLD_FRAME_REPORT)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_Mapping_Master" [style.visibility]="mg.getVisible(mgc.v_Mapping_Master)">
                {{mg.getValue(mgc.v_Mapping_Master)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VSHIFTPDI">
                {{mg.getValue(mgc.VSHIFTPDI)}}
            </button>
            <button [magic]="mgc.v_CKD_CaseOffPackingStatus">
                {{mg.getValue(mgc.v_CKD_CaseOffPackingStatus)}}
            </button>
            <button [magic]="mgc.Card_RePrintNew" [style.visibility]="mg.getVisible(mgc.Card_RePrintNew)">
                {{mg.getValue(mgc.Card_RePrintNew)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VAFUNITEUTIL" [style.visibility]="mg.getVisible(mgc.VAFUNITEUTIL)">
                {{mg.getValue(mgc.VAFUNITEUTIL)}}
            </button>
            <button [magic]="mgc.BNew_Card_Print">
                {{mg.getValue(mgc.BNew_Card_Print)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAEAFSHIFT">
                {{mg.getValue(mgc.vAEAFSHIFT)}}
            </button>
            <button [magic]="mgc.B_AEOFF_REPORT">
                {{mg.getValue(mgc.B_AEOFF_REPORT)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAEHOURMST" [style.visibility]="mg.getVisible(mgc.vAEHOURMST)">
                {{mg.getValue(mgc.vAEHOURMST)}}
            </button>
            <button [magic]="mgc.VAF_Target" [disabled]="mg.isDisabled(mgc.VAF_Target )">
                {{mg.getValue(mgc.VAF_Target)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAFHOURMST" [style.visibility]="mg.getVisible(mgc.vAFHOURMST)">
                {{mg.getValue(mgc.vAFHOURMST)}}
            </button>
            <button [magic]="mgc.VAF_ShiftTime" [disabled]="mg.isDisabled(mgc.VAF_ShiftTime )">
                {{mg.getValue(mgc.VAF_ShiftTime)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vPRODSEQPLAN" [style.visibility]="mg.getVisible(mgc.vPRODSEQPLAN)">
                {{mg.getValue(mgc.vPRODSEQPLAN)}}
            </button>
            <button [magic]="mgc.VAE_Target" [disabled]="mg.isDisabled(mgc.VAE_Target )">
                {{mg.getValue(mgc.VAE_Target)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VAE_ShiftTime" [disabled]="mg.isDisabled(mgc.VAE_ShiftTime )">
                {{mg.getValue(mgc.VAE_ShiftTime)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VDISPLAY_BOARD_MONITOR" [style.visibility]="mg.getVisible(mgc.VDISPLAY_BOARD_MONITOR)">
                {{mg.getValue(mgc.VDISPLAY_BOARD_MONITOR)}}
            </button>
        </div>
    </div>
</div>

<!-- 
<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.NewProductionMenu">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            New Production Menu
                        </label></h3>

                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-4 text-center">
                        <div class="form-group" *ngIf="mg.getVisible(mgc.MISSING_E_F_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.MISSING_E_F_V">
                                {{mg.getValue(mgc.MISSING_E_F_V)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.INDICATION_LIST_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.INDICATION_LIST_V">
                                {{mg.getValue(mgc.INDICATION_LIST_V)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.ENGINE_CARD_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.ENGINE_CARD_V">
                                {{mg.getValue(mgc.ENGINE_CARD_V)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.MONTHLY_PRODUCTION_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.MONTHLY_PRODUCTION_V">
                                {{mg.getValue(mgc.MONTHLY_PRODUCTION_V)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.FRAME_OFF_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.FRAME_OFF_V">
                                {{mg.getValue(mgc.FRAME_OFF_V)}}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">

                        <div class="form-group" *ngIf="mg.getVisible(mgc.DAILY_PROD_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.DAILY_PROD_V">
                                {{mg.getValue(mgc.DAILY_PROD_V)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.DAILY_FRAME_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.DAILY_FRAME_V">
                                {{mg.getValue(mgc.DAILY_FRAME_V)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.KSPA_ENGINE_V)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.KSPA_ENGINE_V">
                                {{mg.getValue(mgc.KSPA_ENGINE_V)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.NOT_AF_OFF)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.NOT_AF_OFF">
                                {{mg.getValue(mgc.NOT_AF_OFF)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.AF_OFF)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.AF_OFF">
                                {{mg.getValue(mgc.AF_OFF)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.CLRINDLIST)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.CLRINDLIST">
                                {{mg.getValue(mgc.CLRINDLIST)}}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="form-group" *ngIf="mg.getVisible(mgc.SHIFTWISEAFOFF)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.SHIFTWISEAFOFF">
                                {{mg.getValue(mgc.SHIFTWISEAFOFF)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.DLY_PRD_LST)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.DLY_PRD_LST">
                                {{mg.getValue(mgc.DLY_PRD_LST)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.HRLY_PRD_REP__AF)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.HRLY_PRD_REP__AF">
                                {{mg.getValue(mgc.HRLY_PRD_REP__AF)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.HRLY_PRD_REP__AE)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.HRLY_PRD_REP__AE">
                                {{mg.getValue(mgc.HRLY_PRD_REP__AE)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.DLY_PRD_LST_MERGE)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.DLY_PRD_LST_MERGE">
                                {{mg.getValue(mgc.DLY_PRD_LST_MERGE)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.DAILY_FRAME_V_MERGE)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.DAILY_FRAME_V_MERGE">
                                {{mg.getValue(mgc.DAILY_FRAME_V_MERGE)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.FACTORY_STOCK)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.FACTORY_STOCK">
                                {{mg.getValue(mgc.FACTORY_STOCK)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.V_ShiftwiseProductionReport)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.V_ShiftwiseProductionReport">
                                {{mg.getValue(mgc.V_ShiftwiseProductionReport)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.VMORE)==='visible'">
                            <button class="btn btn-warning font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VMORE">
                                {{mg.getValue(mgc.VMORE)}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->