<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.NewProductionMenu">
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VFRAME_HOLD_UTILITY" [style.visibility]="mg.getVisible(mgc.VFRAME_HOLD_UTILITY)">
                {{mg.getValue(mgc.VFRAME_HOLD_UTILITY)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VFRAMEENGINE">
                {{mg.getValue(mgc.VFRAMEENGINE)}}
            </button>
            <button [magic]="mgc.VHOLD_FRAME_REPORT" [style.visibility]="mg.getVisible(mgc.VHOLD_FRAME_REPORT)">
                {{mg.getValue(mgc.VHOLD_FRAME_REPORT)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_Mapping_Master" [style.visibility]="mg.getVisible(mgc.v_Mapping_Master)">
                {{mg.getValue(mgc.v_Mapping_Master)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VSHIFTPDI">
                {{mg.getValue(mgc.VSHIFTPDI)}}
            </button>
            <button [magic]="mgc.v_CKD_CaseOffPackingStatus">
                {{mg.getValue(mgc.v_CKD_CaseOffPackingStatus)}}
            </button>
            <button [magic]="mgc.Card_RePrintNew" [style.visibility]="mg.getVisible(mgc.Card_RePrintNew)">
                {{mg.getValue(mgc.Card_RePrintNew)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VAFUNITEUTIL" [style.visibility]="mg.getVisible(mgc.VAFUNITEUTIL)">
                {{mg.getValue(mgc.VAFUNITEUTIL)}}
            </button>
            <button [magic]="mgc.BNew_Card_Print">
                {{mg.getValue(mgc.BNew_Card_Print)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAEAFSHIFT">
                {{mg.getValue(mgc.vAEAFSHIFT)}}
            </button>
            <button [magic]="mgc.B_AEOFF_REPORT">
                {{mg.getValue(mgc.B_AEOFF_REPORT)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAEHOURMST" [style.visibility]="mg.getVisible(mgc.vAEHOURMST)">
                {{mg.getValue(mgc.vAEHOURMST)}}
            </button>
            <button [magic]="mgc.VAF_Target" [disabled]="mg.isDisabled(mgc.VAF_Target )">
                {{mg.getValue(mgc.VAF_Target)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vAFHOURMST" [style.visibility]="mg.getVisible(mgc.vAFHOURMST)">
                {{mg.getValue(mgc.vAFHOURMST)}}
            </button>
            <button [magic]="mgc.VAF_ShiftTime" [disabled]="mg.isDisabled(mgc.VAF_ShiftTime )">
                {{mg.getValue(mgc.VAF_ShiftTime)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.vPRODSEQPLAN" [style.visibility]="mg.getVisible(mgc.vPRODSEQPLAN)">
                {{mg.getValue(mgc.vPRODSEQPLAN)}}
            </button>
            <button [magic]="mgc.VAE_Target" [disabled]="mg.isDisabled(mgc.VAE_Target )">
                {{mg.getValue(mgc.VAE_Target)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VAE_ShiftTime" [disabled]="mg.isDisabled(mgc.VAE_ShiftTime )">
                {{mg.getValue(mgc.VAE_ShiftTime)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VDISPLAY_BOARD_MONITOR" [style.visibility]="mg.getVisible(mgc.VDISPLAY_BOARD_MONITOR)">
                {{mg.getValue(mgc.VDISPLAY_BOARD_MONITOR)}}
            </button>
        </div>
    </div>
</div> -->


<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.NewProductionMenu">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            New Production Menu
                        </label></h3>

                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-4 text-center">
                        <div class="form-group" *ngIf="mg.getVisible(mgc.VFRAMEENGINE)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VFRAMEENGINE">
                                {{mg.getValue(mgc.VFRAMEENGINE)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VSHIFTPDI)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VSHIFTPDI">
                                {{mg.getValue(mgc.VSHIFTPDI)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VAFUNITEUTIL)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VAFUNITEUTIL">
                                {{mg.getValue(mgc.VAFUNITEUTIL)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.vAEAFSHIFT)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.vAEAFSHIFT">
                                {{mg.getValue(mgc.vAEAFSHIFT)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.vAEHOURMST)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.vAEHOURMST">
                                {{mg.getValue(mgc.vAEHOURMST)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.vAFHOURMST)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.vAFHOURMST">
                                {{mg.getValue(mgc.vAFHOURMST)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.vPRODSEQPLAN)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.vPRODSEQPLAN">
                                {{mg.getValue(mgc.vPRODSEQPLAN)}}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">                       
                        <div class="form-group" *ngIf="mg.getVisible(mgc.v_CKD_CaseOffPackingStatus)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.v_CKD_CaseOffPackingStatus">
                                {{mg.getValue(mgc.v_CKD_CaseOffPackingStatus)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.BNew_Card_Print)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.BNew_Card_Print">
                                {{mg.getValue(mgc.BNew_Card_Print)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.B_AEOFF_REPORT)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.B_AEOFF_REPORT">
                                {{mg.getValue(mgc.B_AEOFF_REPORT)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.VAF_Target)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.VAF_Target">
                                {{mg.getValue(mgc.VAF_Target)}}
                            </button>
                        </div>
                                                <div class="form-group" *ngIf="mg.getVisible(mgc.VAF_ShiftTime)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VAF_ShiftTime">
                                {{mg.getValue(mgc.VAF_ShiftTime)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VAE_Target)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75" [magic]="mgc.VAE_Target">
                                {{mg.getValue(mgc.VAE_Target)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VAE_ShiftTime)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VAE_ShiftTime">
                                {{mg.getValue(mgc.VAE_ShiftTime)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VDISPLAY_BOARD_MONITOR)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VDISPLAY_BOARD_MONITOR">
                                {{mg.getValue(mgc.VDISPLAY_BOARD_MONITOR)}}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">


                        <div class="form-group" *ngIf="mg.getVisible(mgc.VFRAME_HOLD_UTILITY)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VFRAME_HOLD_UTILITY">
                                {{mg.getValue(mgc.VFRAME_HOLD_UTILITY)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.VHOLD_FRAME_REPORT)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.VHOLD_FRAME_REPORT">
                                {{mg.getValue(mgc.VHOLD_FRAME_REPORT)}}
                            </button>
                        </div>

                        <div class="form-group" *ngIf="mg.getVisible(mgc.v_Mapping_Master)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.v_Mapping_Master">
                                {{mg.getValue(mgc.v_Mapping_Master)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.Card_RePrintNew)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.Card_RePrintNew">
                                {{mg.getValue(mgc.Card_RePrintNew)}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>