<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ProductionControlHMSI"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                {{mg.getText(mgc.Label1)}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Framewise_Defect_Report">
                {{mg.getValue(mgc.Framewise_Defect_Report)}}
            </button>
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.DPR_Status_Report">
                {{mg.getValue(mgc.DPR_Status_Report)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.PendingFramesReport">
                {{mg.getValue(mgc.PendingFramesReport)}}
            </button>
        </div>
    </div>
</div> -->


<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.ProductionControlHMSI">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Label1)}}
                        </label></h3>

                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8 text-center">
                        <div class="form-group" *ngIf="mg.getVisible(mgc.Framewise_Defect_Report)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.Framewise_Defect_Report">
                                {{mg.getValue(mgc.Framewise_Defect_Report)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.DPR_Status_Report)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.DPR_Status_Report">
                                {{mg.getValue(mgc.DPR_Status_Report)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.PendingFramesReport)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.PendingFramesReport">
                                {{mg.getValue(mgc.PendingFramesReport)}}
                            </button>
                        </div>
                     
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>