.text-red {
    background-color: #ffc9c9;
    color: red;
}


.mat-mdc-cell:first-child{
    flex: 0 0 12%;
    padding-left: 5px;
}
.mat-mdc-header-cell:first-child{
    flex: 0 0 12%;
    padding-left: 5px;
}
.mat-mdc-cell:nth-child(2){
  flex: 0 0 25%;
}
.mat-mdc-header-cell:nth-child(2){
  flex: 0 0 25%;
}
.mat-mdc-cell:nth-child(3){
  flex: 0 0 20%;
}
.mat-mdc-header-cell:nth-child(3){
  flex: 0 0 20%;
}
.mat-mdc-cell:nth-child(4){
  flex: 0 0 6%;
}
.mat-mdc-header-cell:nth-child(4){
  flex: 0 0 6%;
}

.mat-mdc-cell:nth-child(6){
  flex: 0 0 11%;
}
.mat-mdc-header-cell:nth-child(6){
  flex: 0 0 11%;
}
