<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDB031NONUNITINGENGINE"
    >
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.V_LOCATE_P"
                    [magic]="mgc.V_LOCATE_P"
                    mgFormat
                />
                <mgError [magic]=mgc.V_LOCATE_P> </mgError>
            </div>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                PGM=VPRDB031
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                From OFF Date:
            </label>
            <input
                type="date"
                [formControlName]="mgc.F_DATE_V"
                [magic]="mgc.F_DATE_V"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                To OFF Date:
            </label>
            <input
                type="date"
                [formControlName]="mgc.T_DATE_V"
                [magic]="mgc.T_DATE_V"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.EXEC_BUTTON">
                E:Exec
            </button>
            <button [magic]="mgc.CANCEL_BUTTON">
                C:Cancel
            </button>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.VPRDB031NONUNITINGENGINE">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                        NON UNITING ENGINE
                        </label></h3>
                  <input class="form-control" style="color:white; width:auto;background-color:transparent;border: none;"
                        [formControlName]="mgc.V_LOCATE_P" [magic]="mgc.V_LOCATE_P" mgFormat />
                    <div class="d-flex align-items-center">
                            <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
                   
                        <button type="button" [magic]="mgc.btn_Close"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">

                    <div class="col-lg-12">
                        <div class="form-group row">

     <div class="col-lg-6">
                                 <div class="form-group">
                                    <label class="lbl-sm">From  OFF Date</label>
                                <input class="form-control-ed" type="date" [formControlName]="mgc.F_DATE_V"
                            [magic]="mgc.F_DATE_V" dateInput />

                                </div>
                            </div>

                             <div class="col-lg-6">
                                 <div class="form-group">
                                    <label class="lbl-sm">To OFF Date</label>
                                <input class="form-control-ed" type="date" [formControlName]="mgc.T_DATE_V"
                            [magic]="mgc.T_DATE_V" dateInput />

                                </div>
                            </div>

                            

   <div class="col-lg-12 text-center" style="margin-top: 5%;">
                                        <div class="form-group d-flex justify-content-center">

                                            <button type="button" [magic]="mgc.EXEC_BUTTON"
                                             [disabled]="mg.isDisabled(mgc.EXEC_BUTTON )"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                            EXEC
                                            </button>
                                            <button type="button" [magic]="mgc.CANCEL_BUTTON"
                                                class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        CANCEL
                                            </button>

                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>