<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.Message"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                Message
            </label>
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label4"
                [style.visibility]="mg.getVisible(mgc.Label4)"
                class="lable_overflow"
            >
                Cancelled successfully!!!
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label5"
                [style.visibility]="mg.getVisible(mgc.Label5)"
                class="lable_overflow"
            >
                Scanned successfully!!!
            </label>
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                ENGINE NO-
            </label>
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                FRAME NO -
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_VFrame"
                    [magic]="mgc.V_VFrame"
                    mgFormat
                />
                <mgError [magic]=mgc.V_VFrame> </mgError>
            </div>
            <label [magic]="mgc.Edit10">
                {{mg.getValue(mgc.Edit10) }}
            </label>
        </div>
    </div>
</div>