<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PRD001_MAITENANCE"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                EFM
            </label>
            <div>
                <select
                    [magic]="mgc.S1_EFM"
                    [formControlName]="mgc.S1_EFM"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_EFM);"
                        [selected]="o.index == mg.getValue(mgc.S1_EFM)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                MODEL CODE
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_MTO_CODE"
                    [magic]="mgc.S1_MTO_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_MTO_CODE> </mgError>
            </div>
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                MODEL NAME
            </label>
            <div>
                <input
                    [formControlName]="mgc.MTO_NAMEM_V"
                    [magic]="mgc.MTO_NAMEM_V"
                    mgFormat
                />
                <mgError [magic]=mgc.MTO_NAMEM_V> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.MTO_NAMET_V"
                    [magic]="mgc.MTO_NAMET_V"
                    mgFormat
                />
                <mgError [magic]=mgc.MTO_NAMET_V> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.MTO_NAMEO_V"
                    [magic]="mgc.MTO_NAMEO_V"
                    mgFormat
                />
                <mgError [magic]=mgc.MTO_NAMEO_V> </mgError>
            </div>
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                BOM CODE
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_PARTS_MTO_CODE"
                    [magic]="mgc.S1_PARTS_MTO_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PARTS_MTO_CODE> </mgError>
            </div>
            <label
                [magic]="mgc.Label11"
                class="lable_overflow"
            >
                24H
            </label>
            <div>
                <select
                    [magic]="mgc.S1_24G"
                    [formControlName]="mgc.S1_24G"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_24G);"
                        [selected]="o.index == mg.getValue(mgc.S1_24G)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label12"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label13"
                class="lable_overflow"
            >
                UNITED ENGINE
            </label>
            <label
                [magic]="mgc.Label23"
                class="lable_overflow"
            >
                EFM
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_ENGEFM"
                    [magic]="mgc.S1_ENGEFM"
                    mgFormat
                    rangevalidator
                />
                <mgError [magic]=mgc.S1_ENGEFM> </mgError>
            </div>
            <label
                [magic]="mgc.Label25"
                class="lable_overflow"
            >
                MODEL CODE
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.S1_ENGMTO_CODE"
                    [magic]="mgc.S1_ENGMTO_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_ENGMTO_CODE> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.S1_ENGMTO_CODE"
                >...</button>
            </div>
            <label
                [magic]="mgc.Label14"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label18"
                class="lable_overflow"
            >
                PROD.LINE
            </label>
            <label
                [magic]="mgc.Label19"
                class="lable_overflow"
            >
                MAIN
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_PRODLINEMAIN"
                    [magic]="mgc.S1_PRODLINEMAIN"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PRODLINEMAIN> </mgError>
            </div>
            <label
                [magic]="mgc.Label20"
                class="lable_overflow"
            >
                SUB
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_PRODLINESUB"
                    [magic]="mgc.S1_PRODLINESUB"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PRODLINESUB> </mgError>
            </div>
            <label
                [magic]="mgc.Label15"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label21"
                class="lable_overflow"
            >
                TRIAL PARTS TBL CRE.DATE
            </label>
            <input
                type="date"
                [formControlName]="mgc.S1_TRIAL_PARTS_TBL_CREDATE"
                [magic]="mgc.S1_TRIAL_PARTS_TBL_CREDATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label27"
                class="lable_overflow"
            >
                USE
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.S1_USE"
                    [magic]="mgc.S1_USE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_USE> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.S1_USE"
                >...</button>
            </div>
            <div>
                <input
                    [formControlName]="mgc.PRD090USE_NOTICE_090_NOTICE"
                    [magic]="mgc.PRD090USE_NOTICE_090_NOTICE"
                    mgFormat
                />
                <mgError [magic]=mgc.PRD090USE_NOTICE_090_NOTICE> </mgError>
            </div>
            <label
                [magic]="mgc.Label30"
                class="lable_overflow"
            >
                MASS PROD.ORDER DATE
            </label>
            <input
                type="date"
                [formControlName]="mgc.S1_MASS_PRODORDER_DATE"
                [magic]="mgc.S1_MASS_PRODORDER_DATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label32"
                class="lable_overflow"
            >
                BASIC MODEL CODE
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_BASIC_MTO_CODE"
                    [magic]="mgc.S1_BASIC_MTO_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_BASIC_MTO_CODE> </mgError>
            </div>
            <label
                [magic]="mgc.Label34"
                class="lable_overflow"
            >
                CATEGORY
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_CATEGORY"
                    [magic]="mgc.S1_CATEGORY"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_CATEGORY> </mgError>
            </div>
            <label
                [magic]="mgc.Label36"
                class="lable_overflow"
            >
                MASS PROD.DATE
            </label>
            <input
                type="date"
                [formControlName]="mgc.S1_MASS_PRODDATE"
                [magic]="mgc.S1_MASS_PRODDATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label38"
                class="lable_overflow"
            >
                COOL
            </label>
            <div>
                <select
                    [magic]="mgc.S1_COOL"
                    [formControlName]="mgc.S1_COOL"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_COOL);"
                        [selected]="o.index == mg.getValue(mgc.S1_COOL)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label39"
                class="lable_overflow"
            >
                FAMILY
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_FAMILY"
                    [magic]="mgc.S1_FAMILY"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_FAMILY> </mgError>
            </div>
            <label
                [magic]="mgc.Label41"
                class="lable_overflow"
            >
                PROD.CLOSE DATE
            </label>
            <input
                type="date"
                [formControlName]="mgc.S1_PRODCLOSE_DATE"
                [magic]="mgc.S1_PRODCLOSE_DATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label43"
                class="lable_overflow"
            >
                CYCLE
            </label>
            <div>
                <select
                    [magic]="mgc.S1_CYCLE"
                    [formControlName]="mgc.S1_CYCLE"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_CYCLE);"
                        [selected]="o.index == mg.getValue(mgc.S1_CYCLE)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label45"
                class="lable_overflow"
            >
                PACKING LOT
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_PACKING_LOT"
                    type='number'
                    [magic]="mgc.S1_PACKING_LOT"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PACKING_LOT> </mgError>
            </div>
            <label
                [magic]="mgc.Label46"
                class="lable_overflow"
            >
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label47"
                class="lable_overflow"
            >
                DESIGNATION INFORMATION
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label48"
                class="lable_overflow"
            >
                CC
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_CC"
                    type='number'
                    [magic]="mgc.S1_CC"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_CC> </mgError>
            </div>
            <label
                [magic]="mgc.Label50"
                class="lable_overflow"
            >
                KD LOT SIZE
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_KD_PACKING_LOT"
                    type='number'
                    [magic]="mgc.S1_KD_PACKING_LOT"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_KD_PACKING_LOT> </mgError>
            </div>
            <label
                [magic]="mgc.Label52"
                class="lable_overflow"
            >
                NOISE
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_DESIGNNOISE"
                    [magic]="mgc.S1_DESIGNNOISE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_DESIGNNOISE> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label54"
                class="lable_overflow"
            >
                OEM ENG
            </label>
            <div>
                <select
                    [magic]="mgc.S1_OEM_CATEGORY"
                    [formControlName]="mgc.S1_OEM_CATEGORY"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_OEM_CATEGORY);"
                        [selected]="o.index == mg.getValue(mgc.S1_OEM_CATEGORY)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label55"
                class="lable_overflow"
            >
                KD MOTHER FACTORY
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_KD_MOTHER_FACTORY"
                    [magic]="mgc.S1_KD_MOTHER_FACTORY"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_KD_MOTHER_FACTORY> </mgError>
            </div>
            <label
                [magic]="mgc.Label57"
                class="lable_overflow"
            >
                DESIGN.NO.
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_DESIGNNO"
                    [magic]="mgc.S1_DESIGNNO"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_DESIGNNO> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label59"
                class="lable_overflow"
            >
                SHORT BK ENG
            </label>
            <div>
                <select
                    [magic]="mgc.S1_SHORT_BLOCK"
                    [formControlName]="mgc.S1_SHORT_BLOCK"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_SHORT_BLOCK);"
                        [selected]="o.index == mg.getValue(mgc.S1_SHORT_BLOCK)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label60"
                class="lable_overflow"
            >
                TACT
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_TACT"
                    type='number'
                    [magic]="mgc.S1_TACT"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_TACT> </mgError>
            </div>
            <label
                [magic]="mgc.Label62"
                class="lable_overflow"
            >
                VARIANT NO.
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_VARIANT_NO"
                    type='number'
                    [magic]="mgc.S1_VARIANT_NO"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_VARIANT_NO> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit64">
                {{mg.getValue(mgc.Edit64) }}
            </label>
            <div>
                <select
                    [magic]="mgc.S1_DUMMY_MODEL_TYPE"
                    [formControlName]="mgc.S1_DUMMY_MODEL_TYPE"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_DUMMY_MODEL_TYPE);"
                        [selected]="o.index == mg.getValue(mgc.S1_DUMMY_MODEL_TYPE)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label65"
                class="lable_overflow"
            >
                PORT-PROD.LEAD TIME
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_PORTPRODLEAD_TIME"
                    type='number'
                    [magic]="mgc.S1_PORTPRODLEAD_TIME"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PORTPRODLEAD_TIME> </mgError>
            </div>
            <label
                [magic]="mgc.Label67"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label68"
                class="lable_overflow"
            >
                AT/M
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label69"
                class="lable_overflow"
            >
                COST CONTROL
            </label>
            <div>
                <select
                    [magic]="mgc.S1_COST_CONTROL"
                    [formControlName]="mgc.S1_COST_CONTROL"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.S1_COST_CONTROL);"
                        [selected]="o.index == mg.getValue(mgc.S1_COST_CONTROL)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <label
                [magic]="mgc.Label70"
                class="lable_overflow"
            >
                SRS
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_SRS"
                    [magic]="mgc.S1_SRS"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_SRS> </mgError>
            </div>
            <label
                [magic]="mgc.Label72"
                class="lable_overflow"
            >
                EFM
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_ATM_EFM"
                    [magic]="mgc.S1_ATM_EFM"
                    mgFormat
                    rangevalidator
                />
                <mgError [magic]=mgc.S1_ATM_EFM> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.STAMP"
                [disabled]="mg.isDisabled(mgc.STAMP )"
            >
                {{mg.getValue(mgc.STAMP)}}
            </button>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.S1_ENGFRMTYPE"
                    [magic]="mgc.S1_ENGFRMTYPE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_ENGFRMTYPE> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.S1_ENGFRMTYPE"
                >...</button>
            </div>
            <div>
                <input
                    [formControlName]="mgc.S1_PROD1ST_CHASSIS_NO"
                    currencyMask
                    [options]="mg.getNumericPicture(mg.getPicture(mgc.S1_PROD1ST_CHASSIS_NO))"
                    [magic]="mgc.S1_PROD1ST_CHASSIS_NO"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_PROD1ST_CHASSIS_NO> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.S1_VIN_TYPE"
                    [magic]="mgc.S1_VIN_TYPE"
                    mgFormat
                    rangevalidator
                />
                <mgError [magic]=mgc.S1_VIN_TYPE> </mgError>
            </div>
            <label
                [magic]="mgc.Label74"
                class="lable_overflow"
            >
                MODEL CODE
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.S1_ATM_MTO_CODE"
                    [magic]="mgc.S1_ATM_MTO_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_ATM_MTO_CODE> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.S1_ATM_MTO_CODE"
                >...</button>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.COLOR"
                [disabled]="mg.isDisabled(mgc.COLOR )"
            >
                {{mg.getValue(mgc.COLOR)}}
            </button>
            <label
                [magic]="mgc.Label79"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label80"
                class="lable_overflow"
            >
                Global Standard Selection
            </label>
            <div>
                <input
                    type="checkbox"
                    id="CHAR_TYPE"
                    [formControlName]="mgc.CHAR_TYPE"
                    [magic]="mgc.CHAR_TYPE"
                />
            </div>
            <label
                [magic]="mgc.Label81"
                class="lable_overflow"
            >
                METHOD/VARIANT
            </label>
            <div>
                <input
                    [formControlName]="mgc.S1_ATM_METHODVARIANT"
                    [magic]="mgc.S1_ATM_METHODVARIANT"
                    mgFormat
                />
                <mgError [magic]=mgc.S1_ATM_METHODVARIANT> </mgError>
            </div>
        </div>
        <div [magic]="mgc.Tab94">
            <div class="tab_control">
                <div *ngFor="let o of mg.getItemListValues(mgc.Tab94)">
                    <button
                        class="tab_button"
                        (click)="task.mgOnTabSelectionChanged(mgc.Tab94, o.index)"
                        [ngClass]="{'tab_button_active' : mg.isTabPageSelected(mgc.Tab94, o.index+1 )}"
                    >
                        {{mg.getTabpageText(mgc.Tab94, o.index)}}
                    </button>
                </div>
                <div
                    class="tab_content"
                    [style.display]="mg.isTabPageLayerSelected(mgc.Tab94, 1) ? 'flex' : 'none' "
                    style="flex-direction: column"
                >
                    <div style="display: flex; flex-direction: row">
                        <magic-subform [magic]="mgc.Sub2">
                        </magic-subform>
                    </div>
                </div>
                <div
                    class="tab_content"
                    [style.display]="mg.isTabPageLayerSelected(mgc.Tab94, 2) ? 'flex' : 'none' "
                    style="flex-direction: column"
                >
                    <div style="display: flex; flex-direction: row">
                        <magic-subform [magic]="mgc.Sub3">
                        </magic-subform>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>