.mat-header-row {
  background: none;
  background-color: #008080 ! important;
  color: #ffffff;
}
.mat-mdc-cell:first-child,
.mat-mdc-header-cell:first-child {
  flex: 0 0 25%! important;
  padding-left: 5px! important;
}
.mat-mdc-cell:nth-child(2),
.mat-mdc-header-cell:nth-child(2) {
  flex: 0 0 5% !important;
  max-width: 5% !important;
}
/* 
.mat-mdc-header-cell:nth-child(9) {
  flex: 0 0 10%;
  padding-right: 20px;
  justify-content: flex-end;
}

.mat-mdc-cell:nth-child(9) {
  flex: 0 0 10%;
  padding-right: 10px;
  justify-content: flex-end;
} */