<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ShiftwiseAEAFOffReport200"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                AE/AF OFF
            </label>
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                SHIFT:
            </label>
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                LINE:
            </label>
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                DATE:
            </label>
            <div>
                <select
                    [magic]="mgc.VAEAF"
                    [formControlName]="mgc.VAEAF"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.VAEAF);"
                        [selected]="o.index == mg.getValue(mgc.VAEAF)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <div>
                <select
                    [magic]="mgc.v_Shift"
                    [formControlName]="mgc.v_Shift"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.v_Shift);"
                        [selected]="o.index == mg.getValue(mgc.v_Shift)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <div>
                <select
                    [magic]="mgc.v_Plant"
                    [formControlName]="mgc.v_Plant"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues(mgc.v_Plant);"
                        [selected]="o.index == mg.getValue(mgc.v_Plant)"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                    </option>
                </select>
            </div>
            <input
                type="date"
                [formControlName]="mgc.v_Date"
                [magic]="mgc.v_Date"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                C:\magic\temp\ShiftAeAf.csv
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_Exec">
                E\XEC
            </button>
            <button [magic]="mgc.v_Exit">
                E\XIT
            </button>
        </div>
    </div>
</div>