<!-- <div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.VPRDB066RTRUEISSUEPRO"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                PGM=VPRDB066
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label3"
                class="lable_overflow"
            >
                NOW PRINTING ...
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2)
| magicDate : mgc.Edit2}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                PLAN CODE:
            </label>
            <div>
                <input
                    [formControlName]="mgc.vX2_PLAN_CODE"
                    [magic]="mgc.vX2_PLAN_CODE"
                    mgFormat
                />
                <mgError [magic]=mgc.vX2_PLAN_CODE> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                PLAN DATE:
            </label>
            <input
                type="date"
                [formControlName]="mgc.vX2_PLAN_DATE"
                [magic]="mgc.vX2_PLAN_DATE"
                dateInput
            />
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                PLAN SEQ:
            </label>
            <div>
                <input
                    [formControlName]="mgc.vX2_PLAN_SEQ"
                    type='number'
                    [magic]="mgc.vX2_PLAN_SEQ"
                    mgFormat
                />
                <mgError [magic]=mgc.vX2_PLAN_SEQ> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.vX2_PLAN_SEQ_SUFFIX"
                    type='number'
                    [magic]="mgc.vX2_PLAN_SEQ_SUFFIX"
                    mgFormat
                />
                <mgError [magic]=mgc.vX2_PLAN_SEQ_SUFFIX> </mgError>
            </div>
        </div>
    </div>
</div> -->
<div novalidate [formGroup]="screenFormGroup">

    <div class="container-fluid" [magic]="mgc.VPRDB066RTRUEISSUEPRO">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <h3><label class="lable_overflow mb-0">
                                    PGM=VPRDB066
                                </label></h3>
                            <label></label>
                            <div class="d-flex">
                                <label [magic]="mgc.Edit2" class="mb-0 mr-3">
                                    {{mg.getValue(mgc.Edit2)
                                    | magicDate : mgc.Edit2}}
                                </label>
                                <label [magic]="mgc.Edit4" class="mb-0 mr-3">
                                    {{mg.getValue(mgc.Edit4)
                                    | magicTime : mgc.Edit4}}
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-xxl-12">
                                <div class="form-group row">
                                    <label
                                        style="background-color: lightgrey;width: 100%; font-size: 1.5rem; font-weight: 600;text-align: center;">NOW
                                        PRINTING ...</label>
                                    <div class="col-lg-6">
                                        <div class="form-group">


                                            <label>PLAN CODE:</label>
                                            <div class="input-group">
                                                <input type="text" formControlName="{{mgc.vX2_PLAN_CODE}}"
                                                    magic="{{mgc.vX2_PLAN_CODE}}" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>PLAN DATE:</label>
                                            <input matInput [matDatepicker]="picker"
                                                [formControlName]="mgc.vX2_PLAN_DATE">
                                            <mat-datepicker #picker></mat-datepicker>
                                            <!-- <input  class="form-control" style="width:auto;" [formControlName]="mgc.CHASSIS_NO_V"
                                        [magic]="mgc.CHASSIS_NO_V" mgFormat /> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>PLAN SEQ:</label>
                                            <input class="form-control" style="width:auto;"
                                                [formControlName]="mgc.vX2_PLAN_SEQ" [magic]="mgc.vX2_PLAN_SEQ"
                                                mgFormat />

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label></label>
                                            <input class="form-control" style="width:auto;"
                                                [formControlName]="mgc.vX2_PLAN_SEQ_SUFFIX"
                                                [magic]="mgc.vX2_PLAN_SEQ_SUFFIX" mgFormat />
                                        </div>
                                    </div>







                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>