<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.WarningmessageRed"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                ERROR....
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.P_ERROR"
                    [magic]="mgc.P_ERROR"
                    mgFormat
                />
                <mgError [magic]=mgc.P_ERROR> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.VButton">
                Exit
            </button>
        </div>
    </div>
</div>