<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.TransactionTargetProdLine">
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Sub1">
            </magic-subform>
            <div>
                <input [formControlName]="mgc.VHour" type='number' [magic]="mgc.VHour" mgFormat />
                <mgError [magic]=mgc.VHour> </mgError>
            </div>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.TransactionTargetProdLine">
        <div class="message-box text-center p-3  w-100">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h3><label class="lbl-sm" class="lable_overflow mb-0">
                        .
                    </label></h3>
                <button type="button" [magic]="mgc.btnexit"
                    class="btn btn-danger btn-sm font-weight-bold ml-2">X</button>
            </div>
            <div class="message-title mb-2">DISPLAY BOARD</div>
            <div class="form-group row w-100">
                <hr class="border-danger w-100">
                <magic-subform [magic]="mgc.Sub1" class="w-100">
                </magic-subform>
                <input [formControlName]="mgc.VHour" type='number' style="width: 0%;" [magic]="mgc.VHour" mgFormat />
                <mgError [magic]=mgc.VHour> </mgError>
            </div>
        </div>
    </div>
</div>